:root {
  /** Fonts */
  --font-family: sans-serif;
  --font-size: 18px;
  --font-header: SignPainter, sans-serif;
  /** Colors */
  --body-background-color: #f0f0f0;
  --header-background-color: #3E3E07;
  --comment-border: #333;

}

/** Site Styles */
body {
  background-color: var(--body-background-color);
  font-size: var(--font-size);
  line-height: 36px;
}

/** Header */
header {
  font-family: var(--font-header);
  font-size: calc(var(--font-size) * 2);
  width: 100%;
  min-height: 220px;
  background: url('') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--header-background-color);
  margin: 0;
  padding: 45px 75px;
  text-align: right;
}
  header > * {
    color: var(--body-background-color);
  }
  header > h1 {
    font-size: 150%;
  }

/** content */
#content {
  width: 1024px;
  margin: -15px auto;
  padding: 20px 10px 50px 10px;

}

@media screen and (max-width: 840px) {
  #content {
    width: 95%;
  }
}

@media screen and (min-width: 845px) and (max-width: 1300px) {
  #content {
    width: 840px;
  }
}

/** Basic Card */
.div.card {

}
  div.card > dl,
  div.card > form > dl {
    clear: both;
  }
    div.card > dl > dt,
    div.card > dl > dd,
    div.card > form > dl > dt,
    div.card > form > dl > dd {
      display: inline-flexbox;
    }
    div.card > dl > dt,
    div.card > form > dl > dt {
      width: 30%;
      float: left;
    }
    .div.card > dl > dd,
    div.card > form > dl > dd {
      width: 66%;
      float: right;
    }

/** Edit Card */
div.edit.card > ul {
  list-style-type: none;
  margin: 0;
}
div.edit.card > ul > li {
  display: inline-block;
}
div.edit.card > ul > li > a {
  display: block;
  width: 100%;
  padding: 0 1em;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}
  div.edit.card > ul > li > a:hover {
    text-decoration: underline;
  }

/** Comments */
div.comment.card {
  
}
  div.comment.card > .comment {
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid var(--comment-border);
    border-radius: 10px;
  }
    div.comment.card > .comment > .header {
      font-size: 14px;
    }
    div.comment.card > .comment > .content {
      font-size: var(--font-size);
    }
      div.comment.card > .comment > .content > h1 {
        font-size: calc(var(--font-size) + 15px);
      }
      div.comment.card > .comment > .content > h2 {
        font-size: calc(var(--font-size) + 10px);
      }
      div.comment.card > .comment > .content > h3 {
        font-size: calc(var(--font-size) + 7px);
      }
      div.comment.card > .comment > .content > h4 {
        font-size: calc(var(--font-size) + 5px);
      }
      div.comment.card > .comment > .content > h5 {
        font-size: calc(var(--font-size) + 3px);
      }
      div.comment.card > .comment > .content > h6 {
        font-size: calc(var(--font-size) + 1px);
      }
/** Actions */
.actions > ul {
  list-style-type: none;
  padding: 0;
}
  .actions > ul > li {
    display: inline-block;
    padding: 0 5px;
  }
