div.object.location {

}
  div.object.location > div.card {
    border-width: 1px;
    border-style: solid;
    border-color: navy;
    margin: 5px 0 10px 0;
    padding: 10px 5px;
  }
  div.object.location > div.public {
    border-color: darkgreen;
  }
  div.object.location>div.private {
  }
  div.object.location > div.description.card > div#map {
    width: 100%;
    height: 400px;
  }