/** VARIABLES */

:root {
  /** Colours */
  --body-background-color: #f0f0f0;
  --highlight-color: #3E3E07;
  --highlight-color-hover: rgba(62,62,7,0.3);
  --contrast-color: #fff;
  --border-color: #333;
  --link-color: #3E3E07;
  --link-color-hover: #3ebd60;

  /** Fonts */
  --font-family: sans-serif;
  --font-size: 18px;
  --font-header: SignPainter, sans-serif;
}