/** Location Header */
div.card>header.withmedia,
div.location>header.withmedia {
  background-color: rgba(50,50,50,0.2);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 30px;
  width: 100%;
}

div.card>header.withmedia>h1,
div.card>header.withmedia>span,
div.location>header.withmedia>h1,
div.location>header.withmedia>span {
  background-color: rgba(255, 255, 255, 0.6);
}

div.card>header>h1,
div.card>header>span {
  padding: 5px 10px;
}
div.card > div.row,
div.card > form > div.row {
  margin: 10px 0;
}
div.row > div.title-col {
  font-weight: bold;
}
div.row > div > ul {
  list-style-type: none;
  padding: 0;
}
/** Google Maps */
div#map {
  width: 100%;
  height: 400px;
}

/** Action list */
ul.action.list {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

ul.action.list>li {
  display: inline-block;
  padding: 0 5px;
}

ul.action.list>li>a {}

ul.action.list>li>a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

/** Comments */
div.comment {
  border: 1px solid var(--highlight-color);
  margin: 2em 1em;
  border-radius: 1em;
}

div.comment>div.header {
  background-color: var(--highlight-color);
  color: var(--contrast-color);
  border-radius: 1em 1em 0 0;
  padding: 1em 2em;
}

div.comment>div.header>a,
div.comment>div.header>strong>a {
  color: var(--contrast-color);
}

div.comment>div.content {
  margin: 1em 1em;
}

/** Tags */
a.tag {
  white-space: nowrap;
}

/** Location */
div.locations.list > div {
  margin: 10px 0 20px 0;
}
div.locations.list > div.location > span,
div.locations.list > div.location > p {
  margin-left: 3em;
}
div.location.mini {
  border-left: 3em solid var(--highlight-color);
  border-top: 1px solid var(--highlight-color);
  padding-left: 1em;
}
/** Filters */
ul.filter.list {
  list-style-type: none;
}

ul.filter.list>li {}

#content>div.card.filter.card {
  padding-bottom: 0em;
  margin: 1em auto;
}

ul.filter.list>li>a:not(.tag):hover:has(svg) {
  color: inherit;
}
/** Lists */
table.location.list > tbody > tr.activity {
  color: #999;
}