/static
/documents
.DS_Store
/*/settings.py
/public

# Ignore Python files
*.pyc
*~
*.bak
__pycache__

# Venv
/.venv
# Keep database outside repo
*.sqlite3

# Keep settings file outside repo
settings.py
# vknt/urls.py

# Keep statics and uploads outside repo
/public/
/public/*
/public/static/*
/public/media/*


# allow for custom css's
custom_*.css

# Keep logs outside repo
/logs
/gunicorn
/run


# Keep mac-folders outside repo
.DS_Store
# Development
old_*
dev_*