# Python
pip >= 25.2

# Django
Django >= 5.2.7
Pillow >= 11.3.0
gunicorn >= 23.0.0

# Location Services
geopy >= 2.4.1
googlemaps >= 4.10.0

# Markdown
Markdown >= 3.9

# Heic to JPG
pillow-heif >= 1.1.0

# Sendfile for Attachments
django-sendfile2 >= 0.7.2

# OpenAI (experimental)
openai >= 1.58.1