{% load i18n %}{% load static %}<!-- Location Attributes -->
<div class="more information card">
  <div class="row">
    <div class="col-12">
      <h2>{% translate 'more information'|capfirst %}:</h2>
    </div>
  </div>
  <!-- Category -->
  <div class="row">
    <div class="col-3 title-col">{% translate 'category'|title %}:</div>
    <div class="col-8 list" id="additional_categorylist" data-source="{% url 'location:getAttributesFor' location.slug 'category' %}">
      {% if not ajax_load_categories %}
        {% with category=location.category %}{% include 'partial/category.html' %}{% endwith %}{% if location.additional_category.all.count > 0 %}, {% endif %}
        {% for category in location.additional_category.all %}
          {% include 'partial/category.html' %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-1 button-col">
      {% if user.is_authenticated %}
        <button for="additional_category" type="button" class="btn btn-outline-secondary show-autocomplete"><img src="{% static 'bootstrap-icons/plus.svg' %}"></button>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include 'partial/addattribute.html' with attribute="additional_category" %}
  {% endif %}

  <!-- Size (only for locations) -->
  {% if not location.isActivity %}
    <div class="row">
      <div class="col-3 title-col">{% translate 'size'|title %}:</div>
      <div class="col-8 list" id="sizelist" data-source="{% url 'location:getAttributesFor' location.slug 'size' %}">
        {% if location.size and not ajax_load_size %}
          {% include 'partial/size.html' %}
        {% endif %}
      </div>
      <div class="col-1 button-col">
        {% if user.is_authenticated %}
          <button for="size" type="button" class="btn btn-outline-secondary show-autocomplete">{% if location.size and location.size.slug  != '?' %}<img src="{% static 'bootstrap-icons/pencil.svg' %}">{% else %}<img src="{% static 'bootstrap-icons/plus.svg' %}">{% endif %}</button>
        {% endif %}
      </div>
    </div>
    {% if user.is_authenticated %}
      {% include 'partial/addsize.html' with attribute="size" %}
    {% endif %}
  {% endif %}
  
  <!-- Chain -->
  <div class="row autoload">
    <div class="col-3 title-col">{% translate 'chain'|title %}<span class="valuecounter"></span>:</div>
    <div class="col-8 list" id="chainlist" data-source="{% url 'location:getAttributesFor' location.slug 'chain' %}">
      {% if not ajax_load_chains %}
        {% for chain in location.chain.all %}
          {% include 'partial/chain.html' %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-1 button-col">
      {% if user.is_authenticated %}
        <button for="chain" type="button" class="btn btn-outline-secondary show-autocomplete"><img src="{% static 'bootstrap-icons/plus.svg' %}"></button>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include 'partial/addattribute.html' with attribute="chain" %}
  {% endif %}
  <!-- Tags -->
  <div class="row autoload">
    <div class="col-3 title-col">{% translate 'tags'|title %}<span class="valuecounter"></span>:</div>
    <div class="col-8 list" id="tagslist" data-source="{% url 'location:getAttributesFor' location.slug 'tag' %}">
      {% if not ajax_load_tags %}
        {% for tag in location.tags.all %}
          {% include 'partial/tag.html' %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-1 button-col">
      {% if user.is_authenticated %}
        <button for="tags" type="button" class="btn btn-outline-secondary show-autocomplete"><img src="{% static 'bootstrap-icons/plus.svg' %}"></button>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include 'partial/addattribute.html' with attribute="tags" %}
  {% endif %}

  <!-- Links -->
  <div class="row autoload">
    <div class="col-3 title-col">{% translate 'links'|title %}<span class="valuecounter"></span>:</div>
    <div class="col-8 list" id="linklist" data-source="{% url 'location:getAttributesFor' location.slug 'link' %}">
      {% if not ajax_load_links %}
        {% for link in location.link.all %}
          {% include 'partial/link.html' %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-1 button-col">
      {% if user.is_authenticated %}
        <button for="link" type="button" class="btn btn-outline-secondary show-autocomplete"><img src="{% static 'bootstrap-icons/plus.svg' %}"></button>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
    {% include 'partial/addattribute.html' with value="link" attribute="location" %}
  {% endif %}

</div>