{% load i18n %}{% load static %}<!-- Location Attributes -->
<div class="more information card">
  <div class="row">
    <div class="col-12">
      <h2>{% translate 'more information'|capfirst %}:</h2>
    </div>
  </div>

  <!-- Category -->
   <div class="row category" id="category">
    {% include 'field/categories.html'%}
   </div>
  <!-- Size (only for locations and authenticated users) -->
  <div class="row size" id="size">
    {% include 'field/size.html'%}
  </div>
  <!-- Chain -->
  <div class="row chains" id="chains">
    {% include 'field/chains.html' %}
  </div>
  <!-- Tags -->
  <div class="row tags" id="tags">
    {% include 'field/tags.html' %}
  </div>
  <!-- Links -->
   <div class="row links" id="links">
    {% include 'field/links.html' %}
   </div>
   
</div>