{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="comment list card">
  <h1>{% translate 'comments'|title %}</h1>
  {% if comment_list %}
    {% for comment in comment_list.all|filter_by_status|filter_by_visibility:request.user %}
      <div id="comment-{{ comment.id }}">
        {% include 'object/comment.html' %}
      </div>
    {% empty %}
      <p>{% translate 'no comments available'|capfirst %}.</p>
    {% endfor %}
  {% else %}
    <p>{% translate 'no comments available'|capfirst %}.</p>
  {% endif %}
</div>

{% endblock %}