{% extends 'index.html' %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="edit comment card">
      <h1>List{% if list %}: {{ list.name|title }}{% endif %}</h1>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-3 title-col"><label for="name">{% translate 'name'|capfirst %}</div>
          <div class="col-9"><input class="form-control form-control-lg" name="name" id="name" value="{{ list.name }}" required></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="description">{% translate 'description'|capfirst %}</div>
            <div class="col-9"><textarea class="form-control" name="description" id="description" rows="8">{{ list.description }}</textarea></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="visibility">{% translate 'viewable by'|capfirst %}</div>
            <div class="col-9">
              <select class="form-control" name="visibility" id="visibility">
                {% for key, value in form.fields.visibility.choices %}
                  <option value="{{ key }}" {% if list.visibility == key %}selected{% elif not list and key == 'p' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %} 
              </select>
            </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="template">{% translate 'template'|capfirst %}</div>
            <div class="col-9">
              <select class="form-control" name="template" id="template">
                {% for key, value in form.fields.template.choices %}
                  <option value="{{ key }}" {% if list.template == key %}selected{% elif not list and key == 't' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        
          <div class="row">
            <div class="col-3 title-col"><label for="is_editable">{% translate 'allow new locations to this list'|capfirst %}</div>
            <div class="col-9 form-switch"><input class="form-check-input" type="checkbox" role="switch" name="is_editable" id="is_editable" {% if list.is_editable %}checked{% endif %}></div>
          </div>
          <div class="spacer"></div>

        <div class="row">
          <div class="col-3 title-col"><label for="map">{% translate 'show map'|capfirst %}</div>
          <div class="col-9 form-switch"><input class="form-check-input" type="checkbox" role="switch" name="map" id="map" {% if list.map %}checked{% endif %}></div>
        </div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6"><input type="submit" value="{% translate 'submit'|capfirst %}" class="btn btn-success btn-lg {% if list and not user.is_superuser and user != list.user %}disabled{% endif %}"></div>
          <div class="col-3"><a href="{% url 'location:tags' %}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{% translate 'cancel'|capfirst %}</a></div>
        </div>

      </form>
    </div>
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}