{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="list detail card">
  <h1>{% translate 'list'|title %}: {{ list.name|title }}</h1>
  <p>{% translate 'list by'|capfirst %} {{ list.user.get_full_name|default:list.user.username }} | {% translate 'viewable by'|capfirst %} {{ list.get_visibility_display }} | {% translate 'created'|capfirst %} {{ list.date_added|date:"d/m/Y" }} {% if list.date_added|date:"d/m/Y" != list.date_modified|date:"d/m/Y" %}| {% translate 'last changed'|capfirst %} {{ list.date_modified|date:"d/m/Y" }}{% endif %}
  {% if list.description %}<p class="list description">{{ list.description|markdown|safe }}</p>{% endif %}

  <!-- Verify User Permissions -->
  {% if location.visibility == 'q' and location.user != user %}
    {% include 'snippets/private.html' %}
  {% elif list.visibility == 'f' and user not in list.user.profile.family.all and user != list.user %}
    {% include 'snippets/family.html' %}
  {% else %}
    <table class="location list">
      <thead>
        <tr> 
          <th class="align-right" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'distance from'|capfirst %} {% translate 'previous location' %}">{% translate 'distance'|title %}</th>
          <th class="align-right">{% translate 'travel time'|title %}</th>
          <th>{% translate 'location'|title %}</th>
          <th>{% translate 'department'|title %}</th>
          <th class="align-right">{% translate 'nights'|title %}</th>
          <th class="align-right">{% translate 'price'|title %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if list.locations.all.count == 0 %}
          <tr>
            <td colspan="7">
              <p>{% translate 'no locations have been added to this list'|capfirst %} {% if request.user == list.user %}{% translate 'by you' %}{% else %}{% translate 'by the list owner' %}{% endif %}.</p>
              <p>
                {% if perms.location.edit_list %}
                  {% if request.user == list.user %}
                    {% translate 'to add a location or activity to this list, visit the location or activity and select "add to list"'|capfirst %}.
                  {% else %}
                    
                  {% endif %}
                {% else %}
                  <p><a href="{% url 'login' %}?next={{ request.get_full_path }}">{% translate 'sign in'|capfirst %}</a> {% translate 'or' %} <a href="#">{% translate 'register' %}</a> {% translate 'to manage your own lists' %}.</p>
                {% endif %}
              </p>
            </td>
          </tr>
        {% endif %}
        {% for location in list.locations.all %}
          <tr class="{% if forloop.counter|divisibleby:2 %}dark{% else %}light{% endif %}">
            {% if location.getDistanceToPreviousLocation %}
              <td class="align-right" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'distance from'|capfirst %} {{ location.getPreviousLocation.location.name }} {% translate 'to' %} {{ location.location.name }} {% translate 'is' %} {{ location.getDistanceToPreviousLocation|default:'-' }}">{{ location.getDistanceToPreviousLocation|default:'-' }}</td>
            {% else %}
              <td class="align-right">-</td>
            {% endif %}
            <td class="align-right">{{ location.getShortTimeToPreviousLocation|default:'-' }}</td>
            <td>
              {% include 'snippets/location_link.html' with location=location.location %}
              {% if location.comment %}<br />{{ location.comment }}{% endif %}
            </td>
            <td>{% if location.location.location %}<a href="{% if location.location.isActivity %}{% url 'location:ListLActivitiesByDepartment' location.location.location.parent.parent.slug location.location.location.parent.slug location.location.location.slug %}{% else %}{% url 'location:ListLocationsByDepartment' location.location.location.parent.parent.slug location.location.location.parent.slug location.location.location.slug %}{% endif %}">{{ location.location.location.name|title }}</a>{% endif %}</td>
            <td class="align-right">{% if location.nights > 0 %}{{ location.nights }}{% endif %}</td>
            <td class="align-right">{% if location.price > 0 %}&euro; {{ location.price }}{% endif %}</td>
            <td class="nowrap">
              {% if perms.location.edit_list and list.user == user or user.is_superuser %}
                {% if forloop.first %}
                  <svg class="bi" width="18" height="18" fill="#ccc">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-up"/>
                  </svg>
                {% else %}
                  <a href="{% url 'location:ListLocationUp' list.slug location.id location.location.slug %}">
                    <svg class="bi" width="18" height="18" fill="#333">
                      <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-up"/>
                    </svg>
                  </a>
                {% endif %}
                {% if forloop.last %}
                  <svg class="bi" width="18" height="18" fill="#ccc">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-down"/>
                  </svg>
                {% else %}
                  <a href="{% url 'location:ListLocationDown' list.slug location.id location.location.slug %}">
                    <svg class="bi" width="18" height="18" fill="#333">
                      <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-down"/>
                    </svg>
                  </a>
                {% endif %}
                <a href="{% url 'location:DeleteLocationFromList' list.slug location.id location.location.slug %}">
                  <svg class="bi" width="18" height="18" fill="#333">
                    <use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/>
                  </svg>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      {% if list.location.all.count > 0 %}
        <tfoot>
          <tr class="summary">
            <td class="align-right"><strong>{{ list.getDistance }}</strong></td>
            <td class="align-right"><strong>{{ list.getTime }}</strong></td>
            <td colspan="2"></td>
            <td class="align-right"><strong>{{ list.getNights }}</strong></td>
            <td class="align-right"><strong>&euro; {{ list.getPrice }}</strong></td>
            <td></td>
          </tr>
        </tfoot>
      {% endif %}
    </table>

    <div class="spacer"></div>
    <ul class="action list">
      {% if request.user == list.user %}
        <li><a href="{% url 'location:EditList' list.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit'|capfirst %} {% translate 'my list' %}"><img src="{% static 'bootstrap-icons/pencil.svg' %}"></a></li>
        <li><a href="{% url 'location:DeleteList' list.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'my list' %}"><img src="{% static 'bootstrap-icons/trash.svg' %}"></a></li>
      {% elif request.user.is_superuser %}
        <li><a href="{% url 'location:EditList' list.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit'|capfirst %} {% translate 'this list' %}"><img src="{% static 'bootstrap-icons/pencil.svg' %}"></a></li>
        <li><a href="{% url 'location:DeleteList' list.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'this list' %}"><img src="{% static 'bootstrap-icons/trash.svg' %}"></a></li>
      {% endif %}
      {% if request.user.is_superuser %}
        <li><a href="/admin/location/list/{{ list.id }}/change/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if request.user == list.user %}{% translate 'edit my list'|capfirst %}{% else %}{% translate 'edit this list'|capfirst %}{% endif %} {% translate 'in admin' %}"><img src="{% static 'bootstrap-icons/pencil-square.svg' %}"></a></li>
      {% endif %}
    </ul>
    <ul class="action list">
      {% if user.profile.home %}
        {% if list.locations.first.location != user.profile.home %}<li><a href="{% url 'location:StartListFromHome' list.slug %}">{% translate 'start from home' %}</a></li>{% endif %}
        {% if list.locations.last.location != user.profile.home %}<li><a href="{% url 'location:EndListAtHome' list.slug %}">{% translate 'end at home' %}</a></li>{% endif %}
      {% endif %}
    </ul>
  {% endif %}
</div>
{% endblock %}