{% extends 'index.html' %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="edit comment card">
      <h1>List{% if list %}: {{ list.name|title }}{% endif %}</h1>
      <form method="post">
        {% csrf_token %}
        <dl>
          <dt><label for="name">{% translate 'name'|capfirst %}</dt>
            <dd><input class="form-control form-control-lg" name="name" id="name" value="{{ list.name }}" required></dd>
        </dl>
        <dl>
          <dt><label for="description">{% translate 'description'|capfirst %}</dt>
            <dd><textarea class="form-control" name="description" id="description" rows="8">{{ list.description }}</textarea></dd>
        </dl>
        <dl>
          <dt><label for="visibility">{% translate 'viewable by'|capfirst %}</dt>
            <dd>
              <select class="form-control" name="visibility" id="visibility">
                {% for key, value in form.fields.visibility.choices %}
                    <option value="{{ key }}" {% if list.visibility == key %}selected{% elif not list and key == 'p' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %}
              </select>
            </dd>
        </dl>
        <div class="spacer"></div>
        <input type="submit" value="{% translate 'submit'|capfirst %}" class="btn btn-success btn-lg {% if list and not user.is_superuser and user != list.user %}disabled{% endif %}">
        <a href="{% url 'location:tags' %}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{% translate 'cancel'|capfirst %}</a>

      </form>
    </div>
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}