{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  
  {% include 'snippets/location_list_filters.html' %}

  <div class="location list card">
    <h2>{% translate scope|default:'showing locations'|title %}</h2>
    <table>
      <thead>
        <tr class="d-flex">
          <th class="col-1">{% translate 'country'|title %}</th>
          <th class="col-1">{% translate 'region'|title %}</th>
          <th class="col-2">{% translate 'department'|title %}</th>
          <th class="col-8">{% translate 'location'|title %}</th>
        </tr>
      </thead>
      <tbody>
        {% for location in location_list %}
          {% ifchanged location.country %}
            <tr class="d-flex">
              <td class="col-12">
                {% if location.location %}
                  <a href="{% if location.category.parent.slug == 'activity' %}{% url 'location:ListActivitiesByCountry' location.location.parent.parent.slug %}{% else %}{% url 'location:ListLocationsByCountry' location.location.parent.parent.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.country|default:'n/a' }}{% if location.location %}</a>
                {% endif %}
              </td>
            </tr>
          {% endifchanged %}
          {% if location.region %}
            {% ifchanged location.region %}
              <tr class="d-flex">
                <td class="col-1"></td>
                <td class="col-11">
                  {% if location.location %}
                    <a href="{% if location.category.parent.slug == 'activity' %}{% url 'location:ListActivitiesByRegion' location.location.parent.parent.slug location.location.parent.slug %}{% else %}{% url 'location:ListLocationsByRegion' location.location.parent.parent.slug location.location.parent.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.region }}{% if location.location %}</a>
                  {% endif %}
                </td>
              </tr>
            {% endifchanged %}
          {% endif %}
          {% if location.department %}
            {% ifchanged location.department %}
              <tr class="d-flex">
                <td class="col-2"></td>
                <td class="col-10">
                  {% if location.location %}
                    <a href="{% if location.category.parent.slug == 'activity' %}{% url 'location:ListLActivitiesByDepartment' location.location.parent.parent.slug location.location.parent.slug location.location.slug %}{% else %}{% url 'location:ListLocationsByDepartment' location.location.parent.parent.slug location.location.parent.slug location.location.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.department }}{% if location.location %}</a>
                  {% endif %}
                </td>
              </tr>
            {% endifchanged %}
          {% endif %}
          <tr class="d-flex">
            <td class="col-4"></td>
            <td class="col-8">
              {% if location == user.profile.home %}<img src="{% static 'bootstrap-icons/house.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'this is marked as your home'|capfirst %}">{% endif %}
              {% if location in user.profile.favorite.all %}<img src="{% static 'bootstrap-icons/balloon-heart-fill.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'you like this location'|capfirst %}">{% endif %}
              {% if location in user.profile.least_liked.all %}<img src="{% static 'bootstrap-icons/heartbreak-fill.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'you don\'t like this location'|capfirst %}">{% endif %}
              {% if location.visibility in 'f,q' %}<img src="{% if location.visibility == 'q' %}{% static 'bootstrap-icons/person.svg' %}{% else %}{% static 'bootstrap-icons/people.svg' %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'viewable by'|capfirst %} {{ location.get_visibility_display }}">{% endif %}
              {% include 'snippets/location_link.html' %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if perms.location.add_location %}
      <div class="spacer">&nbsp;</div>
      {% if scope == 'activities' %}
        <a class="btn btn-outline-primary" href="{% url 'location:AddActivity' %}" role="button">{% translate 'add activity'|capfirst %}</a>
      {% else %}
        <a class="btn btn-outline-primary" href="{% url 'location:AddLocation' %}" role="button">{% translate 'add location'|capfirst %}</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}