{% extends 'index.html' %}
{% load i18n %}\
{% load static %}
{% block content %}
  <div class="{{ location.getCategory }} card">
    <header {% if media|length > 0 %}class="withmedia" style="background-image: url('/media/{{ media.0.source }}');"{% endif %}>
      <!-- Header Line -->
      <h1>{{ location.name }}</h1> 
      <span class="locator">
        {% if location.chain %}
          {% include 'snippets/chain.html' with chain=location.chain %}
        {% endif %}
        <a href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}?category={{ location.category.slug }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate location.getPCategory|capfirst %} {% translate 'marked' %} {{ location.category.name|title }}">{{ location.category.name|title }}</a> 
        {% if location.location %}
          in
          <a href="{% if location.isActivity %}{% url 'location:ListLActivitiesByDepartment' location.location.parent.parent.slug location.location.parent.slug location.location.slug %}{% else %}{% url 'location:ListLocationsByDepartment' location.location.parent.parent.slug location.location.parent.slug location.location.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location }}">{{ location.location.name|title }}</a>,
          <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByRegion' location.location.parent.parent.slug location.location.parent.slug %}{% else %}{% url 'location:ListLocationsByRegion' location.location.parent.parent.slug location.location.parent.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location.parent }}">{{ location.location.parent.name|title }}</a>,
          <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByCountry' location.location.parent.parent.slug %}{% else %}{% url 'location:ListLocationsByCountry' location.location.parent.parent.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location.parent.parent.name }}">{{ location.location.parent.parent.name|title }}</a>.
        {% endif %}
        {% if user.is_authenticated %}
          {% translate 'viewable by'|capfirst %} {{ location.get_visibility_display }}
        {% endif %}
      </span>
      <!-- Action List-->
      {% if user.is_authenticated %}
        <ul class="action list">
          <!-- Home -->
          {% if location == user.profile.home %}
            <li><a href="{% url 'location:profile' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'this is marked as your home'|capfirst %}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#house"/></svg></a></li>
          {% endif %}
          <!-- Visibility -->
          {% if location.visibility in 'f,q' %}
            <li><a href="{% if location.isActivity %}{% url 'location:EditActivity' location.slug %}{% else %}{% url 'location:EditLocation' location.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'viewable by'|capfirst %} {{ location.get_visibility_display }}">
              <svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}" ><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#{% if location.visibility == 'q' %}person{% else %}people{% endif %}"/></svg>
            </a></li>
          {% endif %}
          {% if not location in user.profile.least_liked.all %}
            <!-- Favorite -->
            <li><a href="{% url 'location:ToggleFavorite' location.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if location in user.profile.favorite.all %}{% translate 'you like'|capfirst %}{% else %}{% translate 'like'|capfirst %}{% endif %} {% translate 'this location' %}"><svg class="bi" width="32" height="32" fill="#c00"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#balloon-heart{% if location in user.profile.favorite.all %}-fill{% endif %}"/></svg></a></li>
          {% endif %}
          {% if not location in user.profile.favorite.all %}<!-- Favorite -->
            <!-- Least liked -->
            <li><a href="{% url 'location:ToggleLeastLiked' location.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if location in user.profile.least_liked.all %}{% translate "you don't like"|capfirst %}{% else %}{% translate 'dislike'|capfirst %}{% endif %} {% translate 'this location' %}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}#666{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#heartbreak{% if location in user.profile.least_liked.all %}-fill{% endif %}"/></svg></a></li>
          {% endif %}
          <!-- Add media -->
          {% if perms.location.add_media %}
            <li><a href="{% url 'location:AddMediaToLocation' location.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'add media to'|capfirst %} {% translate location.getCategory %}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#camera"/></svg></a>
          {% endif %}
          {% if media|length > 0 %}
              <li data-bs-toggle="tooltip" data-bs-placement="top" title="&quot;{{ media.0.title }}&quot; by {{ media.0.user.get_full_name }} ({{ media.0.get_visibility_display }} visible)">
                {% if user.is_staff %}<a href="{% url 'location:MediaStack' location.slug %}">{% endif %}
                <svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#image"/></svg>
                {% if user.is_staff %}</a>{% endif %}
              </li>
          {% endif %}
          <!-- Edit -->
          {% if perms.location.edit_location and location.user == user or location.visibility == 'p' or location.visibility == 'c' %}
            <li><a href="{% if location.isActivity %}{% url 'location:EditActivity' location.slug %}{% else %}{% url 'location:EditLocation' location.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit information of'|capfirst %} {{ location.name }}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a></li>
          {% endif %}
          {% if user.is_superuser %}
            <li><a href="/admin/location/location/{{ location.id }}/change/" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit information of'|capfirst %} {{ location.name }} {% translate 'in admin' %}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil-square"/></svg></a></li>
          {% endif %}
          <!-- Reset data-->
          {% if user.is_staff %}
            <li><a href="{% url 'location:ResetLocation' location.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'reset location data and fetch again'|capfirst %}"><svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}currentColor{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-clockwise{% if location in user.profile.least_liked.all %}-fill{% endif %}"/></svg></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </header>

    <!-- Verify User Permissions -->
    {% if location.visibility == 'q' and location.user != user %}
      {% include 'snippets/private.html' %}
      {% include 'snippets/click_here_to_register_login.html' %}
    {% elif location.visibility == 'f' and location.user != user and user not in location.user.profile.family.all %}
      {% include 'snippets/family.html' %}
      {% include 'snippets/click_here_to_register_login.html' %}
    {% elif location.visibility == 'c' and not user.is_authenticated %}
      {% include 'snippets/community.html' %}
      {% include 'snippets/click_here_to_register_login.html' %}
    {% else %}

    {% if location.description %}
        <div class="spacer"></div>
        <div class="object description">{{ location.description|safe }}</div>  
      {% endif %}

      <div class="spacer"></div>
      
      <!-- Location Address Details -->
      <dl>
        <dt>{% translate 'address'|title %}:</dt>
          <dd>{{ location.address|default:'-' }}</dd>
        <dt>{% translate 'website'|title %}:</dt>
          <dd><a href="{{ location.website }}" target="_blank">{{ location.getWebsiteHostname }}</a></dd>
        {% for link in location.link.all %}
          <dt>&nbsp;</dt>
            <dd><a href="{{ link.url }}" target="_blank">{{ link.hostname }}</a></dd>
        {% endfor %}
        {% if user.is_authenticated %}
          {% if  location.owners_names %}
            <dt>{% translate 'owners names'|title %}:</dt>
              <dd>{{ location.owners_names }}</dd>
          {% endif %}
          {% if location.phone %}
            <dt>{% translate 'phone'|title %}:</dt>
              <dd>{{ location.phone|default:'-' }}</dd>
          {% endif %}
          {% if location.home_of.all.count > 0 %}
            <dt>{% translate 'home of'|capfirst %}</dt>
              <dd>{% for profile in location.home_of.all %}{{ profile.user.get_full_name|default:profile.user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>
          {% endif %}
        {% endif %}
      </dl>

      <!-- map -->
      {% if not location in user.profile.least_liked.all and location.coord_lat %}
        <h3>{{ location.name }} {% translate 'on the map'|title %}:</h3>
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly" defer></script>
        <ul class="action list">
          <li><a href="https://maps.google.com/maps?q={{ location.name|urlencode }}+{{ location.address|urlencode }}" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ location }} {% translate 'on google maps' %}"><img src="{% static 'bootstrap-icons/globe.svg' %}"></a></li>
          <li><a href="https://www.google.com/maps/dir/{{ user.profile.get_home.address|urlencode }}/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate to from home'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> to</a></li>
          <li><a href="https://www.google.com/maps/dir/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate from'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> from</a></li>
        </ul>
      {% endif %}
    </div>

    <!-- Categorisation and Tags -->
    <div class="more information card">
      <h2>{% translate 'more information'|capfirst %}:</h2>
      <dl>
        <dt>{% translate 'category'|title %}:</dt>
          <dd><a href="{% url 'location:locations' %}?category={{ location.category.slug }}">{{ location.category.name|title }}</a>{% if location.additional_category.all.count > 0 and user.is_authenticated %}, {% for category in location.additional_category.all %}<a href="{% url 'location:locations' %}?category={{ category.slug }}">{{ category|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</dd>
        {% if location.chain %}
          <dt>{% translate 'chain'|title %}:</dt>
            <dd>{% include 'snippets/chain.html' with chain=location.chain %}</dd>
        {% endif %}
        {% if location.tags.all.count > 0 and user.is_authenticated %}
          <dt>{% translate 'tags'|title %}:</dt>
            <dd class="tag-list">
              {% for tag in tags %}
                {% include 'snippets/tag.html' %}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </dd>
        {% endif %}
        {% if location.link.all.count > 0 %}
          {% for link in location.link.all %}          
            <dt>{% if forloop.first %}{% if location.link.all.count == 1 %}{% translate 'link' %}{% else %}{% translate 'links' %}{% endif %}:{% endif %}</dt>
              <dd><a href="{{ link.url }}" target="_blank">{{ link.hostname }}</a></dd>
          {% endfor %}

        {% endif %}
        
      <!-- Lists -->
      {% if lists.count > 0 %}
        {% comment %} <dl> {% endcomment %}
        {% for list in lists %}
          <dt>{% if forloop.first %}{% translate 'lists'|capfirst %}{% else %}&nbsp;{% endif %}</dt>
            <dd><a href="{% url 'location:list' list.list.slug %}">{{ list.list.name }}</a> {% translate 'by' %} {{ list.list.user.get_full_name|default:list.list.user.username }}: ({{ list.list.get_visibility_display }}, {{ list.list.locations.all.count }} location(s))</dd>
        {% endfor %}
      {% endif %}
      {% if not location in user.profile.least_liked.all and perms.location.add_listlocation %}
        <dt>{% if lists.count == 0 %}{% translate 'lists'|capfirst %}{% else %}&nbsp;{% endif %}<dt>
          <dd>
            {%if  available_lists.count == 0 %}
            <a href="{% url 'location:AddListWithLocation' location.slug %}">{% translate 'create new list with'|capfirst %} {{ location.name|title }}</a>
            {% else %}
              <form method="get" action="{% url 'location:LocationAddList' location.slug %}">
                <select name="list" class="form-control form-control-sm" style="max-width: 40%;">
                  <option selected>--------</option>
                  <option value="create_new_list">{% translate 'create new list'|capfirst %}</option>
                  {% for list in available_lists %}
                    {% if list not in lists %}
                      <option value="{{ list.slug }}">{{ list.name|truncatechars:64|title }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </dd>
            <dt>&nbsp;</dt>
              <dd>
                <input type="submit" role="button" class="btn btn-outline-primary" value="{% translate 'add to list'|capfirst %}" style="max-width: 10%;">
              </form>
            {% endif %}
          </dd>
      {% endif %}
    </dl>
    
    <!-- Visited In -->
    {% if visitors.all.count > 0 %}
      <dl>
        <dt>{% translate 'your visits'|capfirst %}</dt>
          <dd>
            {% for visit in visitors.all %}
              {% if visit.location == location %}{{ visit.year }}{% if not forloop.last %}, {% endif %}{% endif %}
            {% endfor %}
      </dl>
    {% endif %}
    {% comment %} <dl>
      <dt>{% if visitors.all.count == 0 %}{% translate 'add your visit'|capfirst %}{% else %}&nbsp;{% endif %}</dt>
        <dd><a href="#">{% translate 'add visit'|capfirst %}</a></dd>
    </dl> {% endcomment %}
    </div>

    <!-- Nearby -->
    {% if nearby_locations|length > 1%}
      <div class="nearby card">
        <h2>{% translate 'nearby'|capfirst %}</h2>
        <ul>
          {% for location in nearby_locations %}
            <li>{% include 'snippets/location_link.html' with location=location.0 %} ( {{ location.1|floatformat }} km)</a>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <!-- Comments card -->
    <div class="comments card">
      <h2>{% translate 'comments'|capfirst %} ({{ comment_list.all.count }})</h2>
      {% if perms.location.add_comment %}
        {% include 'location/comment_add.html' %}
      {% else %}
        <div class="register promo">
          <p><a href="{% url 'login' %}?next={{ request.get_full_path }}">{% translate 'sign in'|capfirst %}</a> {% translate 'or' %} <a href="#">{% translate 'register' %}</a> {% translate 'to comment' %}{% if could_have_comments %} {% translate 'or see comments shared with the community' %}{% endif %}.</p>
        </div>
      {% endif %}
      {% include 'snippets/list_comments.html' %}

    {% endif %}
  </div>
{% endblock %}

{% block scriptheader %}
<script>
  // Initialize and add the map
  function initMap() {
    // The location of {{ location.name }}
    const pin = { lat: {{ location.coord_lat }}, lng: {{ location.coord_lng }} };
    // The map, centered at {{ location.name }}
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: {% if location.isActivity %}13{% else %}9{% endif %},
      center: pin,
    });
    // The marker, positioned at {{ location.name }}
    const marker = new google.maps.Marker({
      position: pin,
      map: map,
    });
  }
  window.initMap = initMap;
</script>
{% endblock %}