{% extends 'index.html' %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="edit media card">
      <h1>{% if media %}{% translate 'update media'|capfirst %}{% else %}{% translate 'add media'|capfirst %}{% endif %}</h1>
      <p>{% translate 'accepted formats:'|capfirst %} .jpg, .png, .gif, .heic.</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-3 title-col"><label for="title">{% translate 'title'|capfirst %}</div>
            <div class="col-9"><input class="form-control form-control-lg" name="title" id="title" value="{{ form.title.value|default:'' }}"></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="source">{% translate 'source'|capfirst %}</div>
            <div class="col-9">
              <input class="form-control" type="file" id="source" name="source" accept="image/png, image/gif, image/jpeg, image/heic" required value="{{ form.source.value }}">
            </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="visibility">{% translate 'viewable by'|capfirst %}</div>
            <div class="col-9">
              <select class="form-control" name="visibility" id="visibility">
                {% for key, value in form.fields.visibility.choices %}
                  <option value="{{ key }}" {% if form.visibility == key %}selected{% elif not media and key == 'c' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="location">{% translate 'location'|capfirst %}</div>
            <div class="col-9">
              <input type="hidden" name="location" id="location" value="{{ location.slug }}">
              <input type="text" class="form-control" name="location_name" id="location_name" value="{{ location.name }}" disabled>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6"><input type="submit" value="{% translate 'submit'|capfirst %}" class="btn btn-success btn-lg {% if list and not user.is_superuser and user != list.user %}disabled{% endif %}"></div>
          <div class="col-3"><a href="{% url 'location:tags' %}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{% translate 'cancel'|capfirst %}</a></div>
        </div>
      </form>
    </div>
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}