{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="comment list card">
  <h1>{% translate 'media of'|title %} {% include 'snippets/location_link.html' %}</h1>
  <table>
    <thead>
      <tr>
        <th>Visibility</th>
        <th>Title</th>
        <th>Filename</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for media in media %}
        <tr>
          <td>{% ifchanged media.visibility %}{{ media.get_visibility_display }}{% endifchanged %}</td>
          <td>{{ media.title }}</td>
          <td><a href="{% url 'location:MediaStream' media.source %}">{{ media.source }}</a></td>
          <td>{{ media.user.get_full_name }}</td>
          <td>
            <ul class="action list">
              {% if request.user == media.user %}
                {% if not forloop.first %}<li><a href="{% url 'location:MediaRefresh' media.location.slug media.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'refresh'|capfirst %} {% translate 'my image' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-clockwise"/></svg></a></li>{% endif %}
                {% comment %} <li><a href="{% url 'location:ToggleDeleted' 'media' media.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'my image' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a></li> {% endcomment %}
              {% elif request.user.is_superuser %}
                {% if not forloop.first %}<li><a href="{% url 'location:MediaRefresh' media.location.slug media.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'refresh'|capfirst %} {% translate 'this image' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#arrow-clockwise"/></svg></a></li>{% endif %}
                {% comment %} <li><a href="{% url 'location:ToggleDeleted' 'media' media.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'delete'|capfirst %} {% translate 'this image' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a></li> {% endcomment %}
              {% endif %}
              {% if request.user.is_superuser %}
                <li><a href="/admin/location/media/{{ media.id }}/change/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if request.user == list.user %}{% translate 'edit my list'|capfirst %}{% else %}{% translate 'edit this image'|capfirst %}{% endif %} {% translate 'in admin' %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil-square"/></svg></a></li>
              {% endif %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}