{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="list detail card">
    <h1>{% translate 'profile of'|capfirst %} {{ profile.user.get_full_name }}:</h1>
    <hr>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="user" value="{{ user.id }}">
      <h3>{% translate 'your information'|capfirst %}</h3>
      <dl>
        <dt><label for="first_name">{% translate 'first name'|capfirst %}</label></dt>
          <dd><input class="form-control form-control-lg" name="first_name" id="first_name" value="{{ profile.user.first_name }}" required></dd>
      </dl>
      <dl>
        <dt><label for="last_name">{% translate 'last name'|capfirst %}</label></dt>
          <dd><input class="form-control form-control-lg" name="last_name" id="last_name" value="{{ profile.user.last_name }}"></dd>
      </dl>
      <dl>
        <dt><label for="username">{% translate 'username'|capfirst %}</label></dt>
          <dd><input class="form-control form-control-lg" name="username" id="username" value="{{ profile.user.username }}" required disabled></dd>
      </dl>
      <dl>
        <dt><label for="email">{% translate 'email'|capfirst %}</label></dt>
          <dd><input class="form-control form-control-lg" type="email" name="email" id="email" value="{{ profile.user.email }}" disabled></dd>
      </dl>

      <div class="spacer"><hr></div>
      <dl>
        <dt><label for="home">{% translate 'home'|capfirst %}</dt>
          <dd>
            <select class="form-control" name="home" id="home">
              <option value="" {% if not profile.home %}selected{% endif %}>--------</option>
              {% for home in homes.all %}
                  <option value="{{ home.id }}" {% if home == profile.home %}selected{% endif %}>{{ home.name|title }}</option>
              {% endfor %}
            </select>
          </dd>
      </dl>
      {% if user.family_of.all.count > 0 %}
        <dl>
          <dt>{% translate 'family members'|capfirst %}</dt>
            <dd>
              {% for person in user.family_of.all %}
                {{ person.user.get_full_name|default:person }} {% if person.home %}{% translate 'has home' %} {{ person.home }}{% else %}{% translate 'has no home' %}{% endif %}{% if not forloop.last %}<br>{% endif %}
              {% endfor %}
            </dd>
        </dl>
      {% endif %}
      <div class="spacer"><hr></div>
      <dl>
        <dt>{% translate 'order locations by'|capfirst %}</dt>
        <dd>
          <select name="order" id="order" class="form-control">
            {% for key, value in form.fields.order.choices %}
              <option value="{{ key }}" {% if profile.order == key %}selected{% endif %}>{{ value|title }}</option>
            {% endfor %}
          </select>
        </dd>
      </dl>
      <div class="spacer"></div>
      <dl>
        <dt></dt>
          <dd><input type="submit" value="{% translate 'save changes'|capfirst %}" class="btn btn-success btn-lg"></dd>
      </dl>
      <div class="spacer"></div>
      <div class="spacer"><hr></div>
      
      {% if profile.favorite.all.count > 0 %}
      <dl>
        <dt>{% translate 'favorites'|capfirst %}</dt>
          <dd>
            {% for location in profile.favorite.all %}
              <span class="favorite">{% include 'snippets/location_link.html' %} <a href="{% url 'location:ToggleFavorite' location.slug %}"><img src="{% static 'bootstrap-icons/x.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location.name }} {% translate 'from favorites' %}"></a></span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
        </dl>
      {% endif %}
      <!-- Dislikes -->
      {% if user.profile.least_liked.all.count > 0 %}
        <dl>
          <dt>{% translate 'least liked'|capfirst %}</dt>
            <dd>
              {% for location in profile.least_liked.all %}
                <span class="favorite">{% include 'snippets/location_link.html' %} <a href="{% url 'location:ToggleLeastLiked' location.slug %}"><img src="{% static 'bootstrap-icons/x.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location.name }} {% translate 'from least-liked' %}"></a></span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
            <dd>
              <form method="post">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" name="hide_least_liked" id="hide_least_liked" {% if user.profile.hide_least_liked %}checked{% endif %} onchange="this.form.submit();" >
                  <label class="form-check-label" for="hide_least_liked">{% translate 'hide disliked locations from search results'|capfirst %} </label>
                </div>
              </form>
            </dd>
        </dl>
      {% endif %}

      <div class="spacer"><hr></div>
      <!-- Family -->
      {% if profile.family.all.count > 0 %}
        <dl>
          <dt><label for="family">{% translate 'family members'|capfirst %}</dt>
            <dd>
              {% for member in profile.family.all %}
                <span class="family member">{{ member.get_full_name|default:member.username }}<a href="{% url 'location:ToggleFamily' member.id %}"><img src="{% static 'bootstrap-icons/x.svg' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove family member '|capfirst %} {{ member.get_full_name|default:member.username }}"></a></span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </dd>
        </dl>
      {% endif %}
      {% if user.family_of.all.count > 0 %}
      <dl>
        <dt>{% translate 'you are marked family of'|capfirst %}</dt>
          <dd>
            {% for person in user.family_of.all %}
               <span class="family member">
                {% if person.user not in user.profile.family.all %}<svg class="bi" width="16" height="16" fill="#333"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-plus"/></svg><a href="{% url 'location:ToggleFamily' person.user.id %}">{% endif %}
                {{ person.user.get_full_name|default:person.user.username }}
                {% if person.user not in user.profile.family.all %}</a>{% endif %}
              </span>
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </dd>
      </dl>
      {% endif %}
      <dl>
        <dt>{% translate 'add'|capfirst %} {% translate 'family members'|capfirst %}</dt>
          <dd>
            {% for member in available_family %}
              {% if member.profile not in user.family_of.all %}
                <span class="family member"><svg class="bi" width="16" height="16" fill="#333"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#person-plus"/></svg><a href="{% url 'location:ToggleFamily' member.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'add'|capfirst %} {{ member.get_full_name|default:member.username }} {% translate 'to your family' %}">{{ member.get_full_name|default:member.username }}</a></span>{% if not forloop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
            {% if available_family.count == 0 %}<p>{% translate 'no users available to add to your family'|capfirst %}.</p>{% endif %}
          </dd>
      </dl>
      
    </form>
  </div>
  
  <!-- History -->
  <div class="visits card">
    {% if visits.all.count > 0 %}
      <h2>{% translate 'visits'|capfirst %}</h2>
      <p>{% translate 'show all'|capfirst %} <a href="{% url 'location:locations' %}?visited">visited locations</a> {% translate 'or' %} <a href="{% url 'location:activities' %}?visited">visited activities</a>.</p>

      <table>
        <tbody>
          {% for visit in visits.all %}
            <tr>
              <td>{% ifchanged visit.location %}{% include 'snippets/location_link.html' with location=visit.location %}{% endifchanged %}</td>
              <td colspan="3">{{ visit.day|default:'' }} {{ visit.get_month_display|default:''|capfirst }} <a href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}?visited={{ visit.year }}">{{ visit.year }}</a></td>
              <td>
                <ul class="action list">
                  <li><a href="{% url 'location:EditVisit' visit.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a></li>
                  <li><a href="{% url 'location:DeleteVisit' visit.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a></li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <table>
    {% endif %}
      <form method="post" action="{% url 'location:AddVisit' %}">
        <tbody>
          <tr>
            {% csrf_token %}
            <td class="title"><strong>{% translate 'add visit'|capfirst %}</strong></td>
            <td>
              <select name="location" id="location" class="form-control" required>
                <option value="">--------</option>
                {% for location in available_locations %}
                  <option value="{{ location.id }}">{{ location.name|title }}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="number" min="1" max="31" name="day" class="form-control form-control" placeholder="day">
            </td>
            <td>
              {% now "n" as month%}
              <select name="month" id="month" class="form-control">
                <option value="">--------</option>
                <option value="1" {% if month == '1' %}selected{% endif %}>{% translate 'january'|capfirst %}</option>
                <option value="2" {% if month == '2' %}selected{% endif %}>{% translate 'february'|capfirst %}</option>
                <option value="3" {% if month == '3' %}selected{% endif %}>{% translate 'march'|capfirst %}</option>
                <option value="4" {% if month == '4' %}selected{% endif %}>{% translate 'april'|capfirst %}</option>
                <option value="5" {% if month == '5' %}selected{% endif %}>{% translate 'may'|capfirst %}</option>
                <option value="6" {% if month == '6' %}selected{% endif %}>{% translate 'june'|capfirst %}</option>
                <option value="7" {% if month == '7' %}selected{% endif %}>{% translate 'july'|capfirst %}</option>
                <option value="8" {% if month == '8' %}selected{% endif %}>{% translate 'august'|capfirst %}</option>
                <option value="9" {% if month == '9' %}selected{% endif %}>{% translate 'september'|capfirst %}</option>
                <option value="10" {% if month == '10' %}selected{% endif %}>{% translate 'october'|capfirst %}</option>
                <option value="11" {% if month == '11' %}selected{% endif %}>{% translate 'november'|capfirst %}</option>
                <option value="12" {% if month == '12' %}selected{% endif %}>{% translate 'december'|capfirst %}</option>
              </select>
            </td>
            <td>
              <input type="number" min="1970" max="{% now "Y" %}" name="year" required class="form-control form-control" value="{% now "Y" %}">
            </td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td><input type="submit" value="{% translate 'add visit'|capfirst %}">
          </td>
          </form>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
