{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="tag detail card">
  <h1>{% if tag.parent %}<a href="{% url 'location:tag' tag.parent.slug %}">{{ tag.parent.name|title }}</a>: {% endif %}{% translate 'tag'|title %}: {{ tag.name|title }}</h1>
  {% if perms.location.edit_tag %}
    <ul class="action list">
      <li><a href="{% url 'location:EditTag' tag.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'edit information of'|capfirst %} {{ tag.name }}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a></li>
      {% if user.is_staff %}
        <li><a href="{% url 'location:ToggleDeleteTag' tag.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if tag.status == 'p' %}{% translate 'delete'|capfirst %}{% else %}{% translate 'restore'|capfirst %}{% endif %} {{ tag.name }}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a></li>
      {% endif %}
    </ul>
  {% endif %}
  <!-- Show Tag Contents -->
  {% for location in tag.locations.all %}
    {% include 'snippets/location_flashcard.html' %}
  {% endfor %}
  <!-- Tag Children -->
  {% if children.all.count > 0 %}
</div>
    
    {% for child in children.all %}
      <div class="card">
        <h2>{{ tag.name|title }}: <a href="{% url 'location:tag' child.slug %}">{{ child.name|title }}</a></h2>
        {% for location in child.locations.all %}
          {% include 'snippets/location_flashcard.html' %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}