{% extends 'index.html' %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="edit comment card">
      <h1>Tag</h1>
      <form method="post" action="">
        {% csrf_token %}
        <div class="row">
          <div class="col-3 title-col"><label for="name">{% translate 'name'|capfirst %}</div>
          <div class="col-9"><input class="form-control form-control-lg" name="name" id="name" value="{{ tag.name }}" required></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="parent">{% translate 'parent'|capfirst %}</div>
          <div class="col-9">
            <select name="parent" id="parent" class="form-select" aria-label="{% translate 'select parent'|capfirst %}">
            <option value="">--------</option>
            {% for parent in available_parent_tags %}
              <option value="{{ parent.id }}" {% if parent.id == tag.parent.id %}selected{% endif %}>{% translate parent.name %}</option>
            {% endfor %}
          </select>
          </div>
        </div>
        {% if tag %}
        <div class="row">
          <div class="col-3 title-col">{% translate 'show as'|capfirst %}</div>
          <div class="col-9">
            <select name="list_as" id="list_as" class="form-select" aria-label="{% translate 'select list as'|capfirst %}">
              <option>--------</option>
              {% for key, value in form.fields.list_as.choices %}
                <option value="{{ key }}" {% if key == tag.list_as %}selected{% endif %}>{{ value|title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-9">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" name="hide_from_filterlist" id="hide_from_filterlist" {% if tag.hide_from_filterlist %}checked{% endif %}>
              <label class="form-check-label" for="hide_from_filterlist">{% translate 'hide tag from filter overview'|capfirst %} </label>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="spacer"></div>
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6"><input type="submit" value="{% translate 'submit'|capfirst %}" class="btn btn-success btn-lg {% if tag and not user.is_superuser and user != comment.user %}disabled{% endif %}"></div>
          <div class="col-3"><a href="{% if tag %}{% url 'location:tag' tag.slug %}{% else %}{% url 'location:tags' %}{% endif %}" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">{% translate 'cancel'|capfirst %}</a></div>
        </div>

      </form>
    </div>
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}