{% load static %}
  {% if location.get_available_description_visibilities|length == 0 %}
  <div class="alert alert-warning" role="alert">
    {% translate 'all description visibilities have been used'|capfirst %}. {% translate 'please edit an existing description'|capfirst %}.
  </div>
{% elif perms.location.change_location%}
  <form>
    <textarea name="descriptions__description" class="form-control" data-autoresize>{{ description.description }}</textarea>
    <div class="input-group">
    <span class="input-group-text">{% translate 'visibility'|capfirst %}</span>
    {% if description %}
      <input type="hidden" name="descriptions__id" value="{{ description.id }}">
      <input type="hidden" name="descriptions__token" value="{{ description.token }}">
    {% else %}
      <input type="hidden" name="descriptions__user__id" value="{{ request.user.id }}">
      <input type="hidden" name="descriptions__location__id" value="{{ location.id }}">
    {% endif %}
    <select name="descriptions__visibility" id="comment-visibility" class="form-select" aria-label="{% translate 'select comment visibility'|capfirst %}">
      {% if description or 'q' in location.get_available_description_visibilities %}<option value="q" {% if description.visibility == 'q' %}selected{% endif %}>{% translate 'private'|capfirst %}</option>{% endif %}
      {% if description or 'f' in location.get_available_description_visibilities %}<option value="f" {% if description.visibility == 'f' %}selected{% endif %}>{% translate 'family'|capfirst %}</option>{% endif %}
      {% if description or 'c' in location.get_available_description_visibilities %}<option value="c" {% if description.visibility == 'c' %}selected{% endif %}{% if not description %}selected{% endif %}>{% translate 'community'|capfirst %}</option>{% endif %}
      {% if description or 'p' in location.get_available_description_visibilities %}<option value="p" {% if description.visibility == 'p' %}selected{% endif %}>{% translate 'public'|capfirst %}</option>{% endif %}
    </select>
    <button type="button" 
      class="btn btn-outline-secondary show-autocomplete"
      title="{% if comment %}{% translate 'save changes to'|capfirst %} {% translate 'description'|capfirst %}{% else %}{% translate 'add'|capfirst %} {% translate 'description' %}{% endif %}"
      data-action
      data-method="POST"
      data-body="form"
      data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'descriptions' %}"
      data-map	= ''
      data-refresh-url="{% if description %}{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' description.location.id description.location.slug 'descriptions' %}{% else %}{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'descriptions' %}{% endif %}"
      data-refresh-map='{"descriptions":"#descriptions"}'
      data-refresh-mode="update"
      ><img src="{% static 'img/bootstrap-icons/floppy.svg' %}"></button>
      <button type="button" 
      class="btn btn-outline-secondary show-autocomplete"
      title="{% translate 'stop editing'|capfirst %} {% translate field|capfirst %}"
      data-action
      data-method="GET"
      data-url	="{% if description %}{% url 'cmnsd:dispatch_object_by_id_and_slug' 'description' description.id description.token %}{% else %}{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'descriptions' %}{% endif %}"
      data-map	= '{% if description %}{"description":"#description-{{ description.id }}"}{% else %}{"descriptions":"#descriptions"}{% endif %}'
      ><img src="{% static 'bootstrap-icons/x.svg' %}"></button>
    </div>
  </form>
{% endif %}
