{% load static %}{% load i18n %}{% if user.is_authenticated %}
{% if ajax.editable %}
    <button type="button" 
            class="btn btn-outline-secondary show-autocomplete"
            title="{% translate 'stop editing'|capfirst %} {% translate field|capfirst %}"
            data-action
            data-method="GET"
            data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug field %}"
            data-map	= '{"{{ field }}":"#{{ field }}"}'
            ><img src="{% static 'bootstrap-icons/x.svg' %}"></button>
  {% else %}
    <button type="button" 
            class="btn btn-outline-secondary show-autocomplete"
            title="{% translate 'edit'|capfirst %} {% translate field|capfirst %}"
            data-action
            data-method="GET"
            data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug field %}"
            data-params	= "editable"
            data-map	= '{"{{ field }}":"#{{ field }}"}'
            ><img src="{% static 'bootstrap-icons/pencil.svg' %}"></button>
  {% endif %}
{% endif %}