{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  {% comment %} {% include 'snippets/location_list_filters.html' %} {% endcomment %}
  <div class="location map card">
    <!-- map -->
    {% if user.is_authenticated or allow_unauthenticated_see_overview_map %}
      <h3>{{ location.name }} {% translate 'on the map'|title %}:</h3>
      <div id="map" class="large-map">
        {% if not maps_permission %}
          <p>
            {% translate 'this site uses google maps to show the location of this object on a map'|capfirst %}.<br>
            {% translate 'this means your data will be shared with google when the request loads'|capfirst %}.
          </p>
          <p>
            <a href="{{ location.get_absolute_url }}?maps_permission=true">{% translate 'allow once'|capfirst %}</a>{% if user.is_authenticated and not user.profile.maps_permission %},{% else %} or{% endif %}
            <a href="{% url 'location:MapsPermissionSession' %}?next={{ location.get_absolute_url }}">{% translate 'allow for this session' %}</a>
            or <a href="{% url 'location:MapsPermissionProfile' %}?next={{ location.get_absolute_url }}">{% translate 'always allow' %}.            </p>
        {% endif %}
      </div>
      {% if maps_permission %}
        <ul class="action list">
          <li><a href="https://maps.google.com/maps?q={{ location.name|urlencode }}+{{ location.address|urlencode }}" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ location }} {% translate 'on google maps' %}"><img src="{% static 'bootstrap-icons/globe.svg' %}"></a></li>
          <li><a href="https://www.google.com/maps/dir/{{ user.profile.get_home.address|urlencode }}/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate to from home'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> to</a></li>
          <li><a href="https://www.google.com/maps/dir/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate from'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> from</a></li>
        </ul>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block scriptheader %}
  {% if maps_permission %}
    <!-- Marker Symbol Documentation:
        https://developers.google.com/maps/documentation/javascript/examples/marker-symbol-custom
    -->
    <!-- script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly" defer></script -->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "{{ google_maps_api_key }}",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
      let map;

      async function initMap() {
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
        const infoWindow = new InfoWindow();

        map = new Map(document.getElementById("map"), {
          center: { lat: {{ map_center.lat }}, lng: {{ map_center.lng }} },
          zoom: 5,
          mapId: 'largemap',
        });
        
        // Define marker icons for main point
        const locationTag = document.createElement("div");
        locationTag.className = "location-tag primary";
        locationTag.textContent = "{{ location.name }}";
        {% comment %} locationTag.innerHTML = "<a href='{{ location.get_absolute_url }}'>{{ location.name }}</a>"; {% endcomment %}
        
        // List secondary locations
        {% if user.is_authenticated or allow_unauthenticated_see_overview_map %}
          {% for location in location_list %}
            {% if location.coord_lat and location.coord_lng %}
              const pin{{ location.id }} = new PinElement({
                scale: 0.{% if location.isActivity %}7{% else %}8{% endif %},
                background: "#{% if location.isActivity %}666{% else %}0000ff{% endif %}",
                borderColor: "#{% if location.isActivity %}333{% else %}000033{% endif %}",
                glyphColor: "white",

              });
              marker{{ location.id }} = new AdvancedMarkerElement({
                map,
                position: { lat: {{ location.coord_lat }}, lng: {{ location.coord_lng }} }, // {{ location}}
                title: "{{ location.name }}",
                content: pin{{ location.id }}.element,
                gmpClickable: true,
                collisionBehavior: 'REQUIRED',
                zIndex: {% if location.isActivity %}0{% else %}1{% endif %},
              });
              marker{{ location.id }}.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent('<b><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></b>' +
                '{% if location in user.profile.favorite.all %}<svg class="bi" width="12" height="12" fill="#c00"><use xlink:href="{% static "bootstrap-icons/bootstrap-icons.svg" %}#balloon-heart-fill"/></svg>{% endif %}<br>' + 
                                      '{{ location.category.name|capfirst }} in {{ location.location.name|default:"" }}, {{ location.location.parent.name|default:"" }}, {{ location.location.parent.parent.name|default:"" }}<br>' +
                                      '');
                infoWindow.open(marker{{ location.id }}.map, marker{{ location.id }});
              });
            {% endif %}
          {% endfor %}
        {% endif %}
      }

      initMap();
    </script>
  {% endif %}
{% endblock %}

  {% comment %} {% if maps_permission %}
  <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "{{ google_maps_api_key }}",
      v: "weekly",
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
    });
    let map;

    async function initMap() {
      const { Map, InfoWindow } = await google.maps.importLibrary("maps");
      const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
      const infoWindow = new InfoWindow();

      map = new Map(document.getElementById("map"), {
        center: { lat: {{ map_center.lat }}, lng: {{ map_center.lng }} },
        zoom: 6,
        mapId: 'largemap',
      });
      {% if user.is_authenticated %}
        {% for location in location_list %}
        {% if location.coord_lat and location.coord_lng %}
            const pin{{ location.id }} = new PinElement({
              scale: 0.{% if location.isActivity %}7{% else %}8{% endif %},
              background: "#{% if location.isActivity %}666{% else %}0000ff{% endif %}",
              borderColor: "#{% if location.isActivity %}333{% else %}000033{% endif %}",
              glyphColor: "white",

            });
            secondarymarker = new AdvancedMarkerElement({
              map,
              position: { lat: {{ location.coord_lat }}, lng: {{ location.coord_lng }} },
              title: "{{ location.name }}",
              content: pin{{ location.id }}.element,
              {% comment %} gmpClickable: true, {% endcomment %}
              {% comment %} collisionBehavior: 'REQUIRED',
              zIndex: {% if location.isActivity %}0{% else %}1{% endif %},
            });
          {% endif %}
        {% endfor %}
      {% endif %}
    }

    initMap();
  </script> {% endcomment %}
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly" defer></script> {% endcomment %}
    {% comment %} <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: {{ map_center.lat }},
            lng: {{ map_center.lng }} 
          },
          zoom: 6
        });

        // Define marker icons for main and secondary points
        var mainMarkerIcon = "{% static 'bootstrap-icons/geo-fill-main.png' %}";
        var locationMarkerIcon = "{% static 'bootstrap-icons/geo-fill-green.png' %}";
        var activityMarkerIcon = "{% static 'bootstrap-icons/geo-fill-secondary.png' %}";

        // Add markers to the map
        var markers = [
        {% for location in location_list %}
          {% if location.coord_lat and location.coord_lng %}
            {
              lat: {{ location.coord_lat }},
              lng: {{ location.coord_lng}},
              title: '{{ location.slug }}',
              icon: {% if location.isActivity %}activityMarkerIcon{% else %}locationMarkerIcon{% endif %},
              content: '<a href="{{ location.get_absolute_url }}">{{ location.name }}</a>',
            },
          {% endif %}
        {% endfor %}
        ];

        // Loop through markers and add them to the map
        markers.forEach(function (marker, index) {
          var markerInstance = new google.maps.Marker({
            position: {
              lat: marker.lat,
              lng: marker.lng
            },
            map: map,
            title: marker.title,
            icon: marker.icon
          });

          // Create an InfoWindow for each marker
          var infoWindow = new google.maps.InfoWindow({
            content: marker.content
          });

          // Add a click event to show the InfoWindow when the marker is clicked
          markerInstance.addListener('click', function () {
            infoWindow.open(map, markerInstance);
          });
        });
      }
    </script> {% endcomment %}
  {% comment %} {% endif %} {% endcomment %}
