{% extends 'index.html' %}
{% load i18n %}\
{% load static %}
{% block content %}
  <div class="{{ location.getCategory }} card">
    {% if location.status != 'p' and not request.user.is_superuser %}
    <!-- Show warning that location is not published for users, do not show location details -->
    <div class="alert alert-danger" role="alert">
      {% translate 'This location is not visible'|capfirst %}. {% translate 'status'|capfirst %}: {% translate  location.get_status_display %}.
    </div>
    {% else %}
      {% if location.status != 'p' %}
        <!-- Show warning that location is not published for superuser but show location details -->
        <div class="alert alert-danger" role="alert">
          {% translate 'This location is not visible'|capfirst %}. {% translate 'status'|capfirst %}: {% translate  location.get_status_display %}.
        </div>
      {% endif %}
      <header {% if media|length > 0 %}class="withmedia" style="background-image: url('{% url 'location:MediaStream' media.0.source %}');"{% endif %}>
        <!-- Header Line -->
        <h1>{{ location.name }}</h1> 
        <span class="locator">
          {% if location.chain.all.count > 0 %}
            {% include 'snippets/chain.html' with chains=location.chain.all %}
          {% endif %}
          {% if user.is_authenticated and location.size %}<span class="location size indicator" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ location.size.name }}{% if location.size.description %}: {{ location.size.description|capfirst }}{% endif %}">{{ location.size.slug|upper }}</span> {% endif %}
          <a href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}?category={{ location.category.slug }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate location.getPCategory|capfirst %} {% translate 'marked' %} {{ location.category.name|title }}">{% translate location.category.name|title %}</a> 
          {% include 'partial/location_breadcrumb.html' %}
          {% if user.is_authenticated %}
            {% translate 'viewable by'|capfirst %} {% translate location.get_visibility_display %}.
          {% endif %}
        </span>
        {% if user.is_authenticated %}
          <br /><span class="locator author">
            {% blocktranslate with date=location.date_added|date:"l d F Y" user=location.user.get_full_name|default:location.user.username %}Added on {{ date}} by {{ user }}{% endblocktranslate %}
          </span>
        {% endif %}
        <!-- Action List-->
         <div id="actionlist" data-source="{% url 'location:getAttributesFor' location.slug 'actionlist' %}?field=media">
          {% if not ajax_load_actionlist %}
            {% include 'partial/actionlist.html' %}
          {% endif %}
         </div>
      </header>
      <!-- Verify User Permissions -->
      {% if location.visibility == 'q' and location.user != user %}
        {% include 'snippets/private.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% elif location.visibility == 'f' and location.user != user and user not in location.user.profile.family.all %}
        {% include 'snippets/family.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% elif location.visibility == 'c' and not user.is_authenticated %}
        {% include 'snippets/community.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% else %}

      <!-- Descriptions -->
      <div id="descriptions">
        {% include 'field/descriptions.html' %}
        {% comment %} {% for description in descriptions %}
          {% if description.description|length > 0 %}
          <div class="spacer"></div>
            <div class="object description">
              {{ description.description|markdown|safe }}
              <div class="meta">{% translate 'description'|capfirst %}{% if user.is_authenticated %} {% translate 'added by' %} {{ description.user.get_full_name|default:description.user.username }}{% endif %} {% translate 'for' %} {% translate description.get_visibility_display %}</div>
            </div>
          {% endif %}
        {% endfor %} {% endcomment %}
      </div>
        <div class="spacer"></div>
        
        <!-- Location Address Details -->
        <div class="row">
          <div class="col-3 title-col">{% translate 'address'|title %}:</div>
          <div class="col-9">
            {{ location.address|default:'-' }}
          </div>
          {% if user.is_authenticated and user.profile.navigationapps.all.count > 0 %}
            <div class="col-3"></div>
            <div class="col-9">
              {% for app in user.profile.navigationapps.all %}
                {% include 'partial/navigation_app.html' %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if user.is_authenticated %}
          <!-- Distance to home -->
          {% with location|find_distance:request.user as distance %}
            {% if distance and distance.0 != 0 %}
              <div class="row">
                <div class="col-3"></div>
                <div class="col-9">{{ distance.0 }} / {{ distance.1 }} from {{ user.profile.home.name }}</div>
              </div>
            {% endif %}
          {% endwith %}
          <!-- Additional Informations -->
          {% if location.owners_names %}
            <div class="row">
              <div class="col-3 title-col">{% translate 'owners names'|title %}:</div>
              <div class="col-9">{{ location.owners_names }}</div>
            </div>
          {% endif %}
          {% if location.phone %}
            <div class="row">
              <div class="col-3 title-col">{% translate 'phone'|title %}:</div>
              <div class="col-9">{{ location.phone|default:'-' }}</div>
            </div>
          {% endif %}
          {% if location.home_of.all.count > 0 %}
            <div class="row">
              <div class="col-3 title-col">{% translate 'home of'|capfirst %}</div>
              <div class="col-9">{% for profile in location.home_of.all %}{{ profile.user.get_full_name|default:profile.user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            </div>
          {% endif %}
        {% endif %}

        <!-- Map -->
        {% if not location in user.profile.least_liked.all and location.coord_lat %}
          <h3>{{ location.name }} {% translate 'on the map'|title %}:</h3>
          <div id="map">
            {% if not maps_permission %}
              <p>
                {% translate 'this site uses google maps to show the location of this object on a map'|capfirst %}.<br>
                {% translate 'this means your data will be shared with google when the request loads'|capfirst %}.
              </p>
              <p>
                <a href="{{ location.get_absolute_url }}?maps_permission=true">{% translate 'allow once'|capfirst %}</a>{% if user.is_authenticated and not user.profile.maps_permission %},{% else %} or{% endif %}
                <a href="{% url 'location:MapsPermissionSession' %}?next={{ location.get_absolute_url }}">{% translate 'allow for this session' %}</a>
                {% if user.is_authenticated %} or <a href="{% url 'location:MapsPermissionProfile' %}?next={{ location.get_absolute_url }}">{% translate 'always allow' %}</a>{% endif %}. </p>
            {% endif %}
          </div>
          {% if maps_permission %}
            <ul class="action list">
              <li><a href="https://maps.google.com/maps?q={{ location.name|urlencode }}+{{ location.address|urlencode }}" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ location }} {% translate 'on google maps' %}"><img src="{% static 'bootstrap-icons/globe.svg' %}"></a></li>
              <li><a href="https://www.google.com/maps/dir/{{ user.profile.get_home.address|urlencode }}/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate to from home'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> to</a></li>
              <li><a href="https://www.google.com/maps/dir/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate from'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> from</a></li>
            </ul>
          {% endif %}
        {% endif %}
      </div>

      <!-- Location Attributes -->
      {% include 'segment/location_attributes.html' %}

      <div class="more information card">
        <!-- Lists -->
        {% if lists.count > 0 %}
        <div class="row">
          <div class="col-3 title-col">{% translate 'lists'|capfirst %}</div>
          <div class="col-9">
            <ul>
              {% for list in lists %}
                <li><a href="{% url 'location:list' list.list.slug %}">{{ list.list.name }}</a> {% translate 'by' %} {{ list.list.user.get_full_name|default:list.list.user.username }}: ({{ list.list.get_visibility_display }}, {{ list.list.locations.all.count }} location(s))</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if not location in user.profile.least_liked.all and perms.location.add_listlocation %}
          {% include 'snippets/add_list_form.html' %}
        {% endif %}
        <!-- Visited In -->
        {% if visitors.all.count > 0 %}
          <div class="row">
            <div class="col-3 title-col">{% translate 'your visits'|capfirst %}</div>
            <div class="col-9">
              {% for visit in visitors.all %}
                {% if visit.location == location %}{{ visit.year }}{% if not forloop.last %}, {% endif %}{% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

      <!-- comments -->
      <div class="comments card">
        <h2>{% translate 'comments'|capfirst %} <span id="comment counter"></span></h2>
        <div id="comment-messages"><!-- Comment messages to be placed here --></div>
        <div id="comments">
          {% if not ajax_load_comments %}
            {% for comment in comment_list %}
              {% include 'partial/comment.html' %}
            {% endfor %}
          {% endif %}
        </div>    

        {% if perms.location.add_comment %}
          {% include 'partial/comment_add.html' %}
        {% elif not user.is_authenticated %}
          <div class="register promo">
            <p><a href="{% url 'login' %}?next={{ request.get_full_path }}">{% translate 'sign in'|capfirst %}</a> {% translate 'or' %} <a href="#">{% translate 'register' %}</a> {% translate 'to comment' %}{% if could_have_comments %} {% translate 'or see comments shared with the community' %}{% endif %}.</p>
          </div>
        {% else %}
          <div class="alert alert-warning" role="alert">
            {% translate 'you do not have permission to comment on this location'|capfirst %}.
          </div>
        {% endif %}
      </div>

      <!-- Nearby -->
      {% if nearby_locations|length > 1%}
        <div class="nearby card">
          <h2>{% translate 'nearby'|capfirst %}</h2>
          {% for location in nearby_locations %}
            {% comment %} <li>{% include 'snippets/location_link.html' with location=location.0 %} ( {{ location.1|floatformat }} km)</a> {% endcomment %}
            {% include 'snippets/location_flashcard.html' with location=location.0 distance=location.1 %}
          {% endfor %}
        </div>
      {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block scriptheader %}
  {% if maps_permission %}
    <!-- Marker Symbol Documentation:
        https://developers.google.com/maps/documentation/javascript/examples/marker-symbol-custom
    -->
    <!-- script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly" defer></script -->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "{{ google_maps_api_key }}",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
      let map;

      async function initMap() {
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
        const infoWindow = new InfoWindow();

        map = new Map(document.getElementById("map"), {
          center: { lat: {{ location.coord_lat}}, lng: {{ location.coord_lng }} },
          zoom: {% if location.isActivity %}13{% else %}9{% endif %},
          mapId: '{{ location.slug }}',
        });
        
        // Define marker icons for main point
        const locationTag = document.createElement("div");
        locationTag.className = "location-tag primary";
        locationTag.textContent = "{{ location.name }}";
        {% comment %} locationTag.innerHTML = "<a href='{{ location.get_absolute_url }}'>{{ location.name }}</a>"; {% endcomment %}

        const marker = new AdvancedMarkerElement({
          map,
          position: { lat: {{ location.coord_lat }}, lng: {{ location.coord_lng }} },
          title: "{{ location.name }}",
          gmpClickable: true,
          collisionBehavior: 'REQUIRED_AND_HIDES_OPTIONAL',
          zIndex:99999999,
        });
        
        // List secondary locations
        {% if user.is_authenticated %}
          {% for location in map_locations %}
            const pin{{ location.0.id }} = new PinElement({
              scale: 0.{% if location.0.isActivity %}7{% else %}8{% endif %},
              {% comment %} background: "#{% if location.0.isActivity %}{% if location.0.id in visited_locations %}aaa{% else %}666{% endif %}{% else %}{% if location.0.id in visited_locations %}77f{% else %}00f{% endif %}{% endif %}", {% endcomment %}
              background: "{% mapsmarker location.0 visited_locations user.profile.favorite.all user.profile.dislike.all %}",
              borderColor: "#{% if location.0.isActivity %}333{% else %}000033{% endif %}",
              glyphColor: "white",

            });
            marker{{ location.0.id }} = new AdvancedMarkerElement({
              map,
              position: { lat: {{ location.0.coord_lat }}, lng: {{ location.0.coord_lng }} },
              title: "{{ location.0.name }}",
              content: pin{{ location.0.id }}.element,
              gmpClickable: true,
              collisionBehavior: 'REQUIRED',
              zIndex: {% if location.isActivity %}0{% else %}1{% endif %},
            });
            marker{{ location.0.id }}.addListener("click", ({ domEvent, latLng }) => {
              const { target } = domEvent;
              infoWindow.close();
              infoWindow.setContent('<b><a href="{{ location.0.get_absolute_url }}">{{ location.0.name }}</a></b>' +
              '{% if location.0 in user.profile.favorite.all %}<svg class="bi" width="12" height="12" fill="#c00"><use xlink:href="{% static "bootstrap-icons/bootstrap-icons.svg" %}#balloon-heart-fill"/></svg>{% endif %}' +
              '{% if location.0 in user.profile.dislike.all %}<svg class="bi" width="12" height="12" fill="#000"><use xlink:href="{% static "bootstrap-icons/bootstrap-icons.svg" %}#heartbreak-fill"/></svg>{% endif %}' + 
              '<br>' +
              '{{ location.0.category.name|capfirst }} in {{ location.0.location.name|default:"" }}, {{ location.0.location.parent.name|default:"" }}, {{ location.0.location.parent.parent.name|default:"" }}<br>' +
              '{% if location.0.id in visited_locations %}{% translate 'visited before'|capfirst %}{% endif %}' +
              '');
              infoWindow.open(marker{{ location.0.id }}.map, marker{{ location.0.id }});
            });
          {% endfor %}
          // InfoWindows
          marker.addListener("click", ({ domEvent, latLng }) => {
            const { target } = domEvent;
            infoWindow.close();
            infoWindow.setContent('<b><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></b>' +
            '{% if location in user.profile.favorite.all %}<svg class="bi" width="12" height="12" fill="#c00"><use xlink:href="{% static "bootstrap-icons/bootstrap-icons.svg" %}#balloon-heart-fill"/></svg>{% endif %}' + 
            '{% if location in user.profile.dislike.all %}<svg class="bi" width="12" height="12" fill="#000"><use xlink:href="{% static "bootstrap-icons/bootstrap-icons.svg" %}#heartbreak-fill"/></svg>{% endif %}' + 
            '<br>' +
                                  '{{ location.category.name|capfirst }} in {{ location.department.name|default:"" }}, {{ location.region.name|default:"" }}, {{ location.country.name|default:"" }}<br>' +
                                  '');
            infoWindow.open(marker.map, marker);
          });
        {% endif %}
      }

      initMap();
    </script>
  {% endif %}
{% endblock %}

{% block scriptfooter %}
  <script type="module">
  import cmnsd from "{% static 'js/cmnsd/index.js' %}";
  import { initAutosuggest } from "{% static 'js/cmnsd/autosuggest.js' %}";

  cmnsd.init({
    baseURL: '',
    debug: {{ debug|lower|default:'false' }}, // enable console.debug tracing when django DEBUG=True
    messages: { container: '#messages', dismissible: true, clearBefore: false, max: 5 }, // message container, see messages.html
    actions: { autoBind: true } // bind delegated [data-action] on document
  });

  // Load some sections on page-load
  cmnsd.loadContent({
    // url: 'location/{{ location.id }}-{{ location.slug }}/tags,comments,descriptions,category,size,chains,links/',
    {% comment %} {% with fields='tags,comments,descriptions,category,size,chains,links' %} {% endcomment %}
    {% with fields='tags' %}
    url: '{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug  fields %}',
    {% endwith%}
    map: {  tags: '#tags', 
            comments: '#comments',
            descriptions: '#descriptions',
            category: '#additional_categorylist',
            size: '#sizelist',
            chains: '#chains', 
            links: '#links',
          }
    // comments, description, category, size, chain
    // name, address, phone, owners_names
  });

  // Initialize autosuggest on any input with [data-autosuggest]
  initAutosuggest();
</script>
{% endblock %}