{% extends 'index.html' %}
{% load i18n %}{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="location card">
      <h1>{% if location %}{% translate 'edit'|capfirst %}{% else %}{% translate 'add'|capfirst %}{% endif %} {% if location %}: {{ location.name }}{% else %}.{% endif %}</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ field.name|title }}: {{ error|escape }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="row">
          <div class="col-3 title-col"><label for="name">{% translate 'name'|capfirst %}:</div>
          <div class="col-9"><input class="form-control form-control-lg" name="name" id="name" value="{{ location.name }}" required {% if not location %}autofocus{% endif %}></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"></div>
          <div class="col-9"><div id="namemessages"></div></div>
        </div>
        {% if not location %}
          <!-- Description -->
          <div class="row">
            <div class="col-3 title-col"><label for="description">{% translate 'description'|capfirst %}:</div>
            <div class="col-9"><textarea class="form-control" name="description" id="description" rows="8">{{ location.description }}</textarea></div>
          </div>
          <!-- Link when creating a location -->
          <div class="row">
            <div class="col-3 title-col"><label for="link">{% translate 'website'|capfirst %}:</div>
            <div class="col-9">
              <input class="form-control" type="text" name="link-title" id="link-title" value="{{ link.title }}" placeholder="{% translate 'link title'|capfirst %}, {% translate 'keep empty to generate automatically' %}">
              <input class="form-control" type="text" name="url" id="url" placeholder="https://example.com">
            </div>
          </div>
          {% endif %}
        <div class="row">
          <div class="col-3 title-col"><label for="category">{% translate 'category'|capfirst %}:</div>
          <div class="col-9">
            <select class="form-control" name="category" id="categories">
              {% for category in categories %}
                {% ifchanged category.parent %}{% if not forloop.first %}</optgroup>{% endif %}<optgroup label="{{ category.parent.name|default:"Location" }}">{% endifchanged %}
                <option value="{{ category.id }}"{% if category.slug == location.category.slug %} selected{% endif %}{% if not location and category.slug == "camping" %}selected{% endif %}>{{ category.name }}</option>
                {% if forloop.last %}</optgroup>{% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="visibility">{% translate 'viewable by'|capfirst %}:</div>
          <div class="col-9">
            <select class="form-control" name="visibility" id="visibility">
              {% for key, value in form.fields.visibility.choices %}
                <option value="{{ key }}" {% if location.visibility == key %}selected{% elif not location and key == 'p' %}selected{% endif %}>{{ value|title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="address">{% translate 'address'|capfirst %} <sup data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'fetched automatically from Google if not supplied'|capfirst %}">(i)</sup>:</div>
          <div class="col-9">
            <input class="form-control" name="address" id="address" value="{{ location.address }}"><br>
          </div>
        </div>
        {% if location %}
          <div class="row">
            <div class="col-3 title-col"><label for="phone">{% translate 'phone'|capfirst %}:</div>
            <div class="col-9"><input class="form-control" name="phone" id="phone" value="{{ location.phone|default:'' }}" type="tel"></div>
          </div>
          <div class="row">
            <div class="col-3 title-col"><label for="owners_names">{% translate 'owners'|capfirst %}:</div>
            <div class="col-9"><input class="form-control" name="owners_names" id="owners_names" value="{{ location.owners_names }}"></div>
          </div>
          {% if user.is_superuser %}
            <div class="row">
              <div class="col-3 title-col">{% translate 'user'|capfirst %}:</div>
              <div class="col-9">
                <select id="user" name="user" class="form-control">
                  {% for key, value in form.fields.user.choices %}
                    {% if key %}
                      <option value="{{ key }}" {% if location.user.id == key %}selected{% endif %}>{{ value }}</option>
                    {% endif %}
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-3 title-col">{% translate 'status'|capfirst %}:</div>
              <div class="col-9">
                <select id="status" name="status" class="form-control">
                  {% for key, value in form.fields.status.choices %}
                    <option value="{{ key }}" {% if location.status == key %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
          {% endif %}
        {% endif %}
        <div class="row">
          <div class="col-3 title-col">&nbsp;</div>
          <div class="col-3">
            <input type="submit" class="btn btn-primary" value="{% translate 'save changes'|capfirst %}{% if location %}{% endif %}">
          </div>
          <div class="col-6">
            {% if location %}
              <a class="" href="{% if location.isActivity %}{% url 'location:activity' location.slug %}{% else %}{% url 'location:location' location.slug %}{% endif %}" >{% translate 'terug naar'|capfirst %} {{ location.name }}</a>
            {% else %}
              <a class="" href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}" >{% translate 'terug naar'|capfirst %} {{ location.name }}</a>
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    {% if location %}
      <div class="spacer">&nbsp;</div>
      <!-- Descriptions -->
      <div class="descriptions card">
        <h2>{% translate 'descriptions'|title %}</h2>
        {% for description in descriptions %}
          <div class="row">
            <div class="col-3 title-col"></div>
            <div class="col-7">
              {{ description.description|markdown|safe }}<br />
              <div class="meta">{% translate 'description added by'|capfirst %} {{ description.user.get_full_name|default:description.user.username }} {% translate 'for' %} {% translate description.get_visibility_display %}</div>
            </div>
            <div class="col-2">
              <a href="{% url 'location:EditDescription' description.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a>
              <a href="{% url 'location:deleteDescriptionFromLocation' location.slug description.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a>
            </div>
          </div>
        {% endfor %}
        {% if description_visibilities|length > 0 %}
          <div class="row">
            <div class="col-3 title-col">{% translate 'add'|capfirst %}</div>
            <div class="col-7">
              <form method="post" action="{% url 'location:AddDescriptionToLocation' location.slug %}">
                {% csrf_token %}
                <input type="hidden" name="location" value="{{ location.id }}">
                <textarea class="form-control" name="description" id="description" rows="8" placeholder="{% translate 'description'|capfirst %}" required></textarea>
                <select class="form-control" name="visibility" id="visibility">
                  {% for key, value in description_visibilities %}
                    <option value="{{ key }}" {% if key == 'c' %}selected{% endif %}>{{ value|title }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-2">
                <button class="btn btn-outline-success">+</button>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
      <div class="spacer"></div>
      <!-- Links -->
      <div class="links card">
        <h2>{% translate 'links'|title %}</h2>
        {% for link in links %}
          <div class="row">
            <div class="col-3 title-col"></div>
            <div class="col-7">
              <strong>{{ link.get_title }}</strong>
                {% if link.primary %}<em>{% translate 'primary'|capfirst %}, </em>{% endif %}
                {% translate  link.get_visibility_display|capfirst %}
                <br>
              <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
            </div>
            <div class="col-2">
              <a href="{% url 'location:EditLinkAtLocation' location.slug link.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a>
              <a href="{% url 'location:DeleteLinkFromLocation' location.slug link.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a>
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-3 title-col">{% translate 'add'|capfirst %}</div>
          <div class="col-7">
            <form method="post" action="{% url 'location:AddLinkToLocation' location.slug %}">
              {% csrf_token %}
              <input type="hidden" name="location" value="{{ location.id }}">
              <input class="form-control" type="text" name="link-title" placeholder="{% translate 'link title'|capfirst %} ({% translate 'keep empty to generate automatically' %})">
              <input class="form-control" name="url" id="url" placeholder="{% translate 'https://example.com/'|capfirst %}" required>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="primary" id="primary" {% if link.length > 1 %}checked{% endif %}>
                <label class="form-check-label" for="primary">{% translate 'is primary link for location'|capfirst %}.</label>
              </div>
              <select class="form-control" name="visibility" id="visibility">
                {% for key, value in form.fields.visibility.choices %}
                  <option value="{{ key }}" {% if key == 'c' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-success">+</button>
          </div>
        </div>
      </div>
      <!-- Location Relations-->
      <a class="anchor" name="extra"></a>
      <!-- Location Attributes -->
      {% include 'segment/location_attributes.html' %}

      </div>
    {% endif %}
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}

{% block scriptfooter %}
<!-- automatically select category -->
<script>
  $(document).ready(function() {
    $('#name').on('input', function() {
      var inputValue = $(this).val().toLowerCase();  // Get the input value
      var inputWords = inputValue.split(' ');  // Split into words

      // Loop over the typed words first
      for (let i = 0; i < inputWords.length; i++) {
        var currentWord = inputWords[i];

        // Then loop over the dropdown options to find a match
        $('#categories option').each(function() {
          var optionText = $(this).text().toLowerCase();
          if (optionText === currentWord) {
            $(this).prop('selected', true);  // Select the option
            console.log('Setting category to ' + currentWord);
            $('#categories').trigger('change');
            return false;  // Exit the inner loop after the first match
          }
        });

        // If a match was found, break out of the outer loop as well
        if ($('#categoryDropdown').val()) {
          break;
        }
      }
    });
  });
  $('#name').on('blur', function() {
    // Check if location name is already known
    var query = $(this).val().toLowerCase();
    var url = '{% url 'location:getLocationSuggestions' %}';
    console.log('Checking if location name is already known: ' + query);
    $.ajax({
      url: url,
      type: 'GET',
      data: {
        'query': query,
        'csrfmiddlewaretoken': "{{ csrf_token}}"
      },
      success: function(data) {
        console.log('Location name is already known: ' + data);
        if (data) {
          $('#namemessages').empty();
          $.each(data['payload'], function(index, payload){
            $('#namemessages').append('<div class="alert alert-warning alert-dismissible fade show" role="alert">{% translate 'did you mean'|capfirst %}: <a href="' + payload.url +'">' + payload.name + '</a> in ' + payload.country + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
          });
        }
      },
      error: function(data) {
        console.log('Error checking if location name is already known: ' + data);
      }
    });
  });

  $('#categories').on('change', function() {
    $(this)
      .css('background-color', '#FFFF00')  // Set the initial background color
      .animate({ backgroundColor: '#FFFFFF' }, 1000);  // Animate it back to the original color
  });
</script>
  {% if request.user.is_authenticated %}
    <span id="csrf_token" style="display: none;">{{ csrf_token }}</span>
    <script src="{% static 'js/getLocationAttributes.js' %}" defer></script>
    <script src="{% static 'js/getAutocompleteValues.js' %}" defer></script>
    
    {% comment %} <script src="{% static 'js/load_tags.js' %}" defer></script> {% endcomment %}
    <script type="text/javascript">
      /** Configuration */
      const debug = {% if user.is_staff %}1{% else %}0{% endif %};

      /** Initialisation */
      $(document).ready(function() {
        {% if ajax_load_tags %}/** Load tags */ getLocationAttributes('{% url 'location:getAttributesFor' location.slug 'tag' %}', 'tagslist'){% endif %}
        {% if ajax_load_categories %}/** Load categories */getLocationAttributes('{% url 'location:getAttributesFor' location.slug 'category' %}', 'categorylist'){% endif %}
        {% if ajax_load_chains %}/** Load chains */getLocationAttributes('{% url 'location:getAttributesFor' location.slug 'chain' %}', 'chainlist'){% endif %}
        {% if ajax_load_comments %}/** Load comments */getLocationAttributes('{% url 'location:getAttributesFor' location.slug 'comment' %}', 'commentlist'){% endif %}
        {% if ajax_load_actionlist %}/** Load action list */getLocationAttributes('{% url 'location:getAttributesFor' location.slug 'actionlist' %}', 'actionlist'){% endif %}
      });
    </script>
  {% endif %}
  
{% endblock %}