{% extends 'index.html' %}
{% load static %}
{% block content %}
  <div class="{{ location.getCategory }} card">
    {% if location.status != 'p' and not request.user.is_superuser %}
      <!-- Show warning that location is not published for users, do not show location details -->
      <div class="alert alert-danger" role="alert">
        {% translate 'This location is not visible'|capfirst %}. {% translate 'status'|capfirst %}: {% translate  location.get_status_display %}.
      </div>
    {% else %}
      {% if location.status != 'p' %}
        <!-- Show warning that location is not published for superuser but show location details -->
        <div class="alert alert-danger" role="alert">
          {% translate 'This location is not visible'|capfirst %}. {% translate 'status'|capfirst %}: {% translate  location.get_status_display %}.
        </div>
      {% endif %}
      <header {% if media|length > 0 %}class="withmedia" style="background-image: url('{% url 'location:MediaStream' media.0.source %}');"{% endif %}>
        <!-- Header Line -->
        <div id="name">{% include 'field/name.html' with name=location.name header_size=1%}</div>
        <span class="locator">
          {% include 'partial/location_breadcrumb.html' %}
        </span>
        {% if user.is_authenticated %}
          <br /><span class="locator author">
            {% blocktranslate with date=location.date_added|date:"l d F Y" user=location.user.get_full_name|default:location.user.username %}Added on {{ date}} by {{ user }}{% endblocktranslate %}
          </span>
        {% endif %}
        <!-- Action List-->
         <div id="actionlist">
          {% if not ajax_load_actionlist %}
            {% include 'partial/actionlist.html' %}
          {% endif %}
         </div>
      </header>
      <!-- Verify User Permissions -->
      {% if location.visibility == 'q' and location.user != user %}
        {% include 'snippets/private.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% elif location.visibility == 'f' and location.user != user and user not in location.user.profile.family.all %}
        {% include 'snippets/family.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% elif location.visibility == 'c' and not user.is_authenticated %}
        {% include 'snippets/community.html' %}
        {% include 'snippets/click_here_to_register_login.html' %}
      {% else %}

      <!-- Descriptions -->
      <div id="descriptions">
        {% include 'field/descriptions.html' %}
      </div>
      <div class="spacer"></div>
      <!-- LOCATION DETAILS -->
      {% if ajax.editable %}
        <div id="visibility">
          {% include 'field/location_visibility.html' %}
        </div>
        <div id="status">
          {% include 'field/location_status.html' %}
        </div>
        <div class="spacer"></div>
      {% endif %}
      <!-- Location Address Details -->
      <div id="address">
        {% include 'field/address.html' %}
      </div>
      <div class="spacer"></div>
      <!-- Additional Informations -->
      <div id="owners_names">
        {% include 'field/owners_names.html' %}
      </div>
      <div id="phone">
        {% include 'field/phone.html' %}
      </div>
      <!-- Links -->
      <div id="links">
        {% include 'field/links.html' %}
      </div>
      {% if location.home_of.all.count > 0 %}
        <div class="row">
          <div class="col-3 title-col">{% translate 'home of'|capfirst %}</div>
          <div class="col-9">{% for profile in location.home_of.all %}{{ profile.user.get_full_name|default:profile.user.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        </div>
      {% endif %}
        
      <!-- Map -->
      {% if not location in user.profile.least_liked.all and location.coord_lat %}
        <h3>{{ location.name }} {% translate 'on the map'|title %}:</h3>
        <div id="map">
          {% if not maps_permission %}
            <p>
              {% translate 'this site uses google maps to show the location of this object on a map'|capfirst %}.<br>
              {% translate 'this means your data will be shared with google when the request loads'|capfirst %}.
            </p>
            <p>
              <a href="{{ location.get_absolute_url }}?maps_permission=true">{% translate 'allow once'|capfirst %}</a>{% if user.is_authenticated and not user.profile.maps_permission %},{% else %} or{% endif %}
              <a href="{% url 'location:MapsPermissionSession' %}?next={{ location.get_absolute_url }}">{% translate 'allow for this session' %}</a>
              {% if user.is_authenticated %} or <a href="{% url 'location:MapsPermissionProfile' %}?next={{ location.get_absolute_url }}">{% translate 'always allow' %}</a>{% endif %}. </p>
          {% endif %}
        </div>
        {% if maps_permission %}
          <ul class="action list">
            <li><a href="https://maps.google.com/maps?q={{ location.name|urlencode }}+{{ location.address|urlencode }}" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ location }} {% translate 'on google maps' %}"><img src="{% static 'bootstrap-icons/globe.svg' %}"></a></li>
            <li><a href="https://www.google.com/maps/dir/{{ user.profile.get_home.address|urlencode }}/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate to from home'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> to</a></li>
            <li><a href="https://www.google.com/maps/dir/{{ location.address|urlencode }}/" rel="nofollow" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'navigate from'|capfirst %}"><img src="{% static 'bootstrap-icons/sign-turn-right.svg' %}"> from</a></li>
          </ul>
        {% endif %}
      {% endif %}
    </div>

    <!-- General Location Attributes -->
    <div class="more information card">
      <div class="row">
        <div class="col-12">
          <h2>{% translate 'more information'|capfirst %}:</h2>
        </div>
      </div>

      <!-- Category -->
      <div class="row category" id="category">
        {% include 'field/categories.html'%}
      </div>
      <!-- Size (only for locations and authenticated users) -->
      {% if location.canhavesize %}
        <div class="row size" id="size">
          {% include 'field/size.html'%}
        </div>
      {% endif %}
      <!-- Chain -->
      <div class="row chains" id="chains">
        {% include 'field/chains.html' %}
      </div>
      <!-- Tags -->
      <div class="row tags" id="tags">
        {% include 'field/tags.html' %}
      </div>
    </div>

    <!-- User related location attributes -->
    {% if request.user.is_authenticated %}
      <div class="user related information card">
        <div class="row">
          <div class="col-12">
            <h2>{% translate 'your information'|capfirst %}:</h2>
          </div>
        </div>
        <!-- Love and Hate
          - Show heart balloon and dislike broken heart
        -->

        <!-- Distance to home
          - if ho home is set, instruct to set home
          - if home is set, but no distance, instruct to set distance
          - if home and distance is set, show distance
        -->
        <!-- Distance to home -->
        <div class="row" id="distance_from_home">
          {% with location|find_distance:request.user as distance %}
            {% if distance and distance.0 != 0 %}
              <div class="col-3 title-col">{% translate 'distance from home'|title %}:</div>
              <div class="col-8">{{ distance.0 }} / {{ distance.1 }} from {{ user.profile.home.name }}</div>
              <div class="col-1 button-col">
                <button type="button" 
                  class="btn btn-outline-secondary show-autocomplete"><img src="{% static 'bootstrap-icons/arrow-clockwise.svg' %}"></button>
              </div>
          {% endif %}
        {% endwith %}
        </div>
        <!-- Visits -->
        <div class="row visitors" id="visitors">
          {% include 'object/location_visitors.html' %}
        </div>
        <!-- Lists -->
        <div class="row lists" id="lists">
          {% include 'object/location_lists.html' %}
        </div>
      </div>
    {% endif %}

      <!-- Comments -->
      <div class="comments card" id="comments">
        <div class="row">
            <div class="col-12">
              <h2>{% translate 'comments'|capfirst %}:</h2>
            </div>
          </div>
        {% include 'field/comments.html'%}
      </div>

      

      <!-- Nearby -->
      {% if nearby_locations|length > 1%}
        <div class="nearby card">
          <h2>{% translate 'nearby'|capfirst %}</h2>
          {% for location in nearby_locations %}
            {% comment %} <li>{% include 'snippets/location_link.html' with location=location.0 %} ( {{ location.1|floatformat }} km)</a> {% endcomment %}
            {% include 'snippets/location_flashcard.html' with location=location.0 distance=location.1 %}
          {% endfor %}
        </div>
      {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block scriptheader %}
  {% if maps_permission %}
    <!-- Marker Symbol Documentation:
        https://developers.google.com/maps/documentation/javascript/examples/marker-symbol-custom
    -->
    <!-- script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&v=weekly" defer></script -->
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "{{ google_maps_api_key }}",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
      });
      let map;

      async function initMap() {
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
        const infoWindow = new InfoWindow();

        map = new Map(document.getElementById("map"), {
          center: { lat: {{ location.coord_lat}}, lng: {{ location.coord_lng }} },
          zoom: {% if location.isActivity %}13{% else %}9{% endif %},
          mapId: '{{ location.slug }}',
        });
        
        // Define marker icons for main point
        const locationTag = document.createElement("div");
        locationTag.className = "location-tag primary";
        locationTag.textContent = "{{ location.name }}";
        {% comment %} locationTag.innerHTML = "<a href='{{ location.get_absolute_url }}'>{{ location.name }}</a>"; {% endcomment %}

        const marker = new AdvancedMarkerElement({
          map,
          position: { lat: {{ location.coord_lat }}, lng: {{ location.coord_lng }} },
          title: "{{ location.name }}",
          gmpClickable: true,
          collisionBehavior: 'REQUIRED_AND_HIDES_OPTIONAL',
          zIndex:99999999,
        });
        
        // List secondary locations
        {% if user.is_authenticated %}
          {% for location in map_locations %}
            const pin{{ location.0.id }} = new PinElement({
              scale: 0.{% if location.0.isActivity %}7{% else %}8{% endif %},
              {% comment %} background: "#{% if location.0.isActivity %}{% if location.0.id in visited_locations %}aaa{% else %}666{% endif %}{% else %}{% if location.0.id in visited_locations %}77f{% else %}00f{% endif %}{% endif %}", {% endcomment %}
              background: "{% mapsmarker location.0 user.profile.home visited_locations user.profile.favorite.all user.profile.dislike.all %}",
              borderColor: "#{% if location.0.isActivity %}333{% else %}000033{% endif %}",
              glyphColor: "white",

            });
            marker{{ location.0.id }} = new AdvancedMarkerElement({
              map,
              position: { lat: {{ location.0.coord_lat }}, lng: {{ location.0.coord_lng }} },
              title: "{{ location.0.name }}",
              content: pin{{ location.0.id }}.element,
              gmpClickable: true,
              collisionBehavior: 'REQUIRED',
              zIndex: {% if location.isActivity %}0{% else %}1{% endif %},
            });
            marker{{ location.0.id }}.addListener("click", ({ domEvent, latLng }) => {
              const { target } = domEvent;
              infoWindow.close();
              infoWindow.setContent('<b><a href="{{ location.0.get_absolute_url }}">{{ location.0.name }}</a></b>' +
              '{% if location.0 in user.profile.favorite.all %}<svg class="bi" width="12" height="12" fill="#c00"><use xlink:href="{% static "img/bootstrap-icons/bootstrap-icons.svg" %}#balloon-heart-fill"/></svg>{% endif %}' +
              '{% if location.0 in user.profile.dislike.all %}<svg class="bi" width="12" height="12" fill="#000"><use xlink:href="{% static "img/bootstrap-icons/bootstrap-icons.svg" %}#heartbreak-fill"/></svg>{% endif %}' + 
              '<br>' +
              '{{ location.0.category.name|capfirst }} in {{ location.0.location.name|default:"" }}, {{ location.0.location.parent.name|default:"" }}, {{ location.0.location.parent.parent.name|default:"" }}<br>' +
              '{% if location.0.id in visited_locations %}{% translate 'visited before'|capfirst %}{% endif %}' +
              '');
              infoWindow.open(marker{{ location.0.id }}.map, marker{{ location.0.id }});
            });
          {% endfor %}
          // InfoWindows
          marker.addListener("click", ({ domEvent, latLng }) => {
            const { target } = domEvent;
            infoWindow.close();
            infoWindow.setContent('<b><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></b>' +
            '{% if location in user.profile.favorite.all %}<svg class="bi" width="12" height="12" fill="#c00"><use xlink:href="{% static "img/bootstrap-icons/bootstrap-icons.svg" %}#balloon-heart-fill"/></svg>{% endif %}' + 
            '{% if location in user.profile.dislike.all %}<svg class="bi" width="12" height="12" fill="#000"><use xlink:href="{% static "img/bootstrap-icons/bootstrap-icons.svg" %}#heartbreak-fill"/></svg>{% endif %}' + 
            '<br>' +
                                  '{{ location.category.name|capfirst }} in {{ location.department.name|default:"" }}, {{ location.region.name|default:"" }}, {{ location.country.name|default:"" }}<br>' +
                                  '');
            infoWindow.open(marker.map, marker);
          });
        {% endif %}
      }

      initMap();
    </script>
  {% endif %}
{% endblock %}


{% block cmnsdInit %}{% endblock %}