{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  
  {% include 'snippets/location_list_filters.html' %}

  <div class="location list card">
    <h2>{% translate scope|default:'showing locations'|title %}</h2>
    <table>
      <thead>
        <tr class="d-flex">
          <th class="col-1">{% translate 'country'|title %}</th>
          <th class="col-1">{% translate 'region'|title %}</th>
          <th class="col-2">{% translate 'department'|title %}</th>
          <th class="col-8">{% translate 'location'|title %}</th>
        </tr>
      </thead>
      <tbody>
        {% for location in location_list %}
          {% ifchanged location.country %}
            <tr class="d-flex">
              <td class="col-12">
                {% if location.location %}
                  <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByCountry' location.country.slug %}{% else %}{% url 'location:ListLocationsByCountry' location.country.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.country|default:'n/a' }}{% if location.location %}</a>
                {% endif %}
              </td>
            </tr>
          {% endifchanged %}
          {% if location.region %}
            {% ifchanged location.region %}
              <tr class="d-flex">
                <td class="col-1"></td>
                <td class="col-11">
                  {% if location.location %}
                    <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByRegion' location.country.slug location.region.slug %}{% else %}{% url 'location:ListLocationsByRegion' location.country.slug location.region.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.region.name }}{% if location.location %}</a>
                  {% endif %}
                </td>
              </tr>
            {% endifchanged %}
          {% endif %}
          {% if location.department %}
            {% ifchanged location.department %}
              <tr class="d-flex">
                <td class="col-2"></td>
                <td class="col-10">
                  {% if location.location %}
                    <a href="{% if location.isActivity %}{% url 'location:ListLActivitiesByDepartment' location.country.slug location.region.slug location.department.slug %}{% else %}{% url 'location:ListLocationsByDepartment' location.country.slug location.region.slug location.department.slug %}{% endif %}{% include 'snippets/filter_url_queryparams.html' %}">{% endif %}{{ location.department.name }}{% if location.location %}</a>
                  {% endif %}
                </td>
              </tr>
            {% endifchanged %}
          {% endif %}
          <tr class="d-flex">
            <td class="col-4"></td>
            <td class="col-8">
              {% if location.visibility in 'f,q' %}<svg class="bi" width="16" height="16" fill="currentColor" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'viewable by'|capfirst %} {{ location.get_visibility_display }}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#{% if location.visibility == 'q' %}person{% else %}people{% endif %}"/></svg>{% endif %}
              {% include 'snippets/location_link.html' %}
          </tr>
        {% empty %}
          <tr>
            <td class="col-12">
              <p>{% translate 'there are no locations to show at this moment'|capfirst %}. </p>
              {% if not user.is_authenticated %}
                <p>{% translate 'locations and activities are often available to registered users'|capfirst %}.</p>
                {% include 'snippets/click_here_to_register_login.html'%}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if perms.location.add_location %}
      <div class="spacer">&nbsp;</div>
      {% if scope == 'activities' %}
        <a class="btn btn-outline-primary" href="{% url 'location:AddActivity' %}" role="button">{% translate 'add activity'|capfirst %}</a>
      {% else %}
        <a class="btn btn-outline-primary" href="{% url 'location:AddLocation' %}" role="button">{% translate 'add location'|capfirst %}</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}