{% extends 'index.html' %}
{% load i18n %}{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="location card">
      <h1>{% if location %}{% translate 'edit'|capfirst %}{% else %}{% translate 'add'|capfirst %}{% endif %} {% if location %}: {{ location.name }}{% else %}.{% endif %}</h1>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ field.name|title }}: {{ error|escape }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="row">
          <div class="col-3 title-col"><label for="name">{% translate 'name'|capfirst %}:</div>
          <div class="col-9"><input class="form-control form-control-lg" name="name" id="name" value="{{ location.name }}" required></div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="description">{% translate 'description'|capfirst %}:</div>
          <div class="col-9"><textarea class="form-control" name="description" id="description" rows="8">{{ location.description }}</textarea></div>
        </div>
        <!-- Link when creating a location -->
        {% if not location %}
          <div class="row">
            <div class="col-3 title-col"><label for="link">{% translate 'website'|capfirst %}:</div>
            <div class="col-9">
              <input class="form-control" type="text" name="link-title" id="link-title" value="{{ link.title }}" placeholder="{% translate 'link title'|capfirst %}, {% translate 'keep empty to generate automatically' %}">
              <input class="form-control" type="text" name="url" id="url" placeholder="https://example.com">
            </div>
          </div>
          {% endif %}
        <div class="row">
          <div class="col-3 title-col"><label for="category">{% translate 'category'|capfirst %}:</div>
          <div class="col-9">
            <select class="form-control" name="category" id="categories">
              {% for category in categories %}
                <option value="{{ category.id }}"{% if category.slug == location.category.slug %} selected{% endif %}{% if not location and category.slug == "camping" %}selected{% endif %}>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3 title-col"><label for="status">{% translate 'viewable by'|capfirst %}:</div>
          <div class="col-9">
            <select class="form-control" name="visibility" id="visibility">
              {% for key, value in form.fields.visibility.choices %}
                <option value="{{ key }}" {% if location.visibility == key %}selected{% elif not location and key == 'p' %}selected{% endif %}>{{ value|title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% if location %}
          <div class="row">
            <div class="col-3 title-col"><label for="address">{% translate 'address'|capfirst %}{% if not location.address %} fetch{% endif %}:</div>
            <div class="col-9">
              <input class="form-control" name="address" id="address" value="{{ location.address }}"><br>
              {% translate 'address will be fetched by google based on name when empty'|capfirst %}.
            </div>
          </div>
          <div class="row">
            <div class="col-3 title-col"><label for="phone">{% translate 'phone'|capfirst %}:</div>
            <div class="col-9"><input class="form-control" name="phone" id="phone" value="{{ location.phone|default:'' }}" type="tel"></div>
          </div>
          <div class="row">
            <div class="col-3 title-col"><label for="owners_names">{% translate 'owners'|capfirst %}:</div>
            <div class="col-9"><input class="form-control" name="owners_names" id="owners_names" value="{{ location.owners_names }}"></div>
          </div>
          {% if user.is_superuser %}
            <div class="row">
              <div class="col-3 title-col">{% translate 'user'|capfirst %}:</div>
              <div class="col-9">
                <select id="user" name="user" class="form-control">
                  {% for key, value in form.fields.user.choices %}
                    {% if key %}
                      <option value="{{ key }}" {% if location.user.id == key %}selected{% endif %}>{{ value }}</option>
                    {% endif %}
                {% endfor %}
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-3 title-col">{% translate 'status'|capfirst %}:</div>
              <div class="col-9">
                <select id="status" name="status" class="form-control">
                  {% for key, value in form.fields.status.choices %}
                    <option value="{{ key }}" {% if location.status == key %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
          {% endif %}
        {% endif %}
        <div class="row">
          <div class="col-3 title-col">&nbsp;</div>
          <div class="col-3">
            <input type="submit" class="btn btn-primary" value="{% translate 'save changes'|capfirst %}{% if location %}{% endif %}">
          </div>
          <div class="col-6">
            {% if location %}
              <a class="" href="{% if location.isActivity %}{% url 'location:activity' location.slug %}{% else %}{% url 'location:location' location.slug %}{% endif %}" >{% translate 'terug naar'|capfirst %} {{ location.name }}</a>
            {% else %}
              <a class="" href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}" >{% translate 'terug naar'|capfirst %} {{ location.name }}</a>
            {% endif %}
          </div>
        </div>
      </form>
    </div>

    {% if location %}
      <!-- Links -->
      <div class="links card">
        <h2>{% translate 'links'|title %}</h2>
        {% for link in links %}
          <div class="row">
            <div class="col-3 title-col"></div>
            <div class="col-7">
              <strong>{{ link.get_title }}</strong>
                {% if link.primary %}<em>{% translate 'primary'|capfirst %}, </em>{% endif %}
                {% translate  link.get_visibility_display|capfirst %}
                <br>
              <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
            </div>
            <div class="col-2">
              <a href="{% url 'location:EditLinkAtLocation' location.slug link.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#pencil"/></svg></a>
              <a href="{% url 'location:DeleteLinkFromLocation' location.slug link.id %}"><svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#trash"/></svg></a>
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="col-3 title-col">{% translate 'add'|capfirst %}</div>
          <div class="col-7">
            <form method="post" action="{% url 'location:AddLinkToLocation' location.slug %}">
              {% csrf_token %}
              <input type="hidden" name="location" value="{{ location.id }}">
              <input class="form-control" type="text" name="link-title" placeholder="{% translate 'link title'|capfirst %} ({% translate 'keep empty to generate automatically' %})">
              <input class="form-control" name="url" id="url" placeholder="{% translate 'https://example.com/'|capfirst %}" required>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="primary" id="primary" {% if link.length > 1 %}checked{% endif %}>
                <label class="form-check-label" for="primary">{% translate 'is primary link for location'|capfirst %}.</label>
              </div>
              <select class="form-control" name="visibility" id="visibility">
                {% for key, value in form.fields.visibility.choices %}
                  <option value="{{ key }}" {% if key == 'c' %}selected{% endif %}>{{ value|title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-success">+</button>
          </div>
        </div>
      </div>
      <!-- Location Relations-->
      <a class="anchor" name="extra"></a>
      <div class="relations card">
        <!-- Manage Chain -->
        <div class="row autoload" data-url="{% url 'location:aListChainsFor' location.slug %}" data-type="tag">
          <div class="col-3 title-col">{% translate 'chains'|title %}<span class="valuecounter"></span>:</div>
          <div class="col-8 list-col" id="tags"></div>
          <div class="col-1 button-col"><button type="button" class="btn btn-outline-secondary show-edit">+</button></div>
        </div>
        <div class="row add_autosuggest">
          <div class="col-3 title-col"></div>
          <div class="col-6 tag" id="addtag">
            <input type="text" class="autocomplete autocapitalize form-control submit-value" placeholder="{% translate 'start typing'|capfirst %}..." data-suggestions="{% url 'location:aListChainSuggestionsFor' location.slug %}" data-url="{% url 'location:aAddChain' location.slug %}">
          </div>
          <div class="col-3">
            <button class="btn btn-primary submit-value">{% translate 'add'|capfirst %}</button>
          </div>
        </div>
        <!-- Manage Additional Categories -->
        <div class="row autoload" data-url="{% url 'location:aListCategoriesFor' location.slug %}" data-type="category" data-toggle-url="{% url 'location:aAddCategory' location.slug %}">
          <div class="col-3 title-col">{% translate 'categories'|title %}<span class="valuecounter"></span>:</div>
          <div class="col-8 list-col" id="tags"></div>
          <div class="col-1 button-col"><button type="button" class="btn btn-outline-secondary show-edit">+</button></div>
        </div>
        <div class="row add_autosuggest"> 
          <div class="col-3 title-col"></div>
          <div class="col-6" id="additional_categories"> 
            <input type="text" class="autocomplete autocapitalize form-control submit-value" placeholder="{% translate 'start typing'|capfirst %}..." name="addcategory" data-suggestions="{% url 'location:aListCategorySuggestionsFor' location.slug %}" data-url="{% url 'location:aAddCategory' location.slug %}">
          </div>
          <div class="col-3">
            <button class="btn btn-primary submit-value">{% translate 'add'|capfirst %}</button>
          </div>
        </div>
        <!-- Manage Tags -->
        <div class="row autoload" data-url="{% url 'location:aListTagsFor' location.slug %}" data-type="tag">
          <div class="col-3 title-col">{% translate 'tags'|title %}<span class="valuecounter"></span>:</div>
          <div class="col-8 list-col" id="tags"></div>
          <div class="col-1 button-col"><button type="button" class="btn btn-outline-secondary show-edit">+</button></div>
        </div>
        <div class="row add_autosuggest">
          <div class="col-3 title-col"></div>
          <div class="col-6 tag" id="addtag">
            <input type="text" class="autocomplete autocapitalize form-control submit-value" placeholder="{% translate 'start typing'|capfirst %}..." name="addtag" data-suggestions="{% url 'location:aListTagSuggestionsFor' location.slug %}" data-url="{% url 'location:aAddTag' location.slug %}">
          </div>
          <div class="col-3">
            <button class="btn btn-primary submit-value">{% translate 'add'|capfirst %}</button>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% include 'snippets/login_or_register.html' %}
  {% endif %}
{% endblock %}

{% block scriptfooter %}
  {% if request.user.is_authenticated %}
    {% if perms.location.view_comments or allow_unauthenticated_read_comments%}
      <script>
        var tagBaseUrl = '/a/{{ location.slug }}/tag/';
        var categoryBaseUrl = '/a/{{ location.slug }}/category/';

        var csrf_token = '{{ csrf_token }}';
        var currUser = {{ user.id }};
        var currAuth = '{{ user.is_staff|default:"False" }}';
        var tagAllowRemove = 1;
        var allowDelete = 1;
        var debug = 1;

      </script>
      <script src="{% static 'js/async.js' %}" defer></script>
      <script src="{% static 'js/autosuggest.js' %}" defer></script>
      <script src="{% static 'js/autoloadvalues.js' %}" defer></script>
      {% comment %} <script src="{% static 'js/comments.js' %}" defer></script> {% endcomment %}
      {% comment %} <script src="{% static 'js/chains.js' %}" defer></script>  {% endcomment %}
    {% endif %}

    <!-- automatically select category -->
    <script>
      $(document).ready(function() {
        $('#name').on('input', function() {
          var inputValue = $(this).val().toLowerCase();  // Get the input value
          var inputWords = inputValue.split(' ');  // Split into words
  
          // Loop over the typed words first
          for (let i = 0; i < inputWords.length; i++) {
            var currentWord = inputWords[i];
    
            // Then loop over the dropdown options to find a match
            $('#categories option').each(function() {
              var optionText = $(this).text().toLowerCase();
              if (optionText === currentWord) {
                $(this).prop('selected', true);  // Select the option
                console.log('Setting category to ' + currentWord);
                return false;  // Exit the inner loop after the first match
              }
            });

            // If a match was found, break out of the outer loop as well
            if ($('#categoryDropdown').val()) {
              break;
            }
          }
        });
      });
    </script>
  {% endif %}
{% endblock %}