{% load static %}{% load i18n %}
<div class="row">
  <div class="col-3 title-col">{% translate 'address'|title %}:</div>
  <div class="col-8">
    {% if json.editable %}
      FOOOOOO
    {% else %}
      {{ location.address|default:'-' }}
    {% endif %}
  </div>
  <div class="col-1 button-col">
    {% include 'element/reusable_edit_button.html' with field='address' %}
  </div>
</div>

{% if user.is_authenticated %}
<!-- Distance to home -->
  {% with location|find_distance:request.user as distance %}
    {% if distance and distance.0 != 0 %}
      {% comment %} <div class="row">
        <div class="col-3 title-col"></div>
        <div class="col-9">{{ distance.0 }} / {{ distance.1 }} from {{ user.profile.home.name }}</div>
      </div> {% endcomment %}
    {% endif %}
  {% endwith %}
<!-- Navigation apps -->
{% comment %} {% if user.profile.navigationapps.all.count > 0 %}
  <div class="row">
    <div class="col-3 title-col">{% translate 'navigate'|title %}:</div>
    <div class="col-8">
      {% for app in user.profile.navigationapps.all %}
        {% include 'partial/navigation_app.html' %}
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endcomment %}
{% endif %}