{% load static %}{% load i18n %}<div class="col-3 title-col">{% translate 'category'|title %}:</div>
<div class="col-8 list">
 {% include 'field/category.html' with category=location.category %}
 {% if location.additional_category.all.count > 0 %} {% endif %}
  {% for category in location.additional_category.all %}
    {% include 'field/category.html' %}
  {% endfor %}
  {% if json.editable and perms.location.change_location %}
    <form class="cmnd-autosuggest"
      action="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'category' %}"
      data-action
      data-method="POST"
      data-body="form"
      data-map='{"category":"#category"}'
    >
      <input
        name="name"
        type="text"
        id="category-input"
        placeholder="{% translate 'add category'|capfirst %} - {% translate 'start typing to see suggestions'|capfirst %}"
        class="form-control"
        data-autosuggest
        data-url="{% url 'cmnsd:dispatch' 'categories'%}"
        data-param="{{ search_query_character}}"
        data-extra-params='{"format":"json", "exclude": "locations__slug:{{ location.slug }}"}'
        data-container="category"
        data-field-input="name"
        data-field-hidden="slug"
      >
      <button type="submit" class="btn btn-primary">{% translate 'add chain'|title %}</button>
    </form>
  {% endif %}
</div>
<div class="col-1 button-col">
  {% if user.is_authenticated %}
    {% if json.editable %}
      <button type="button" 
              class="btn btn-outline-secondary show-autocomplete"
              title="{% translate 'stop editing categories'|capfirst %}"
              data-action
              data-method="GET"
              data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'category' %}"
              data-map	= '{"category":"#category"}'
              ><img src="{% static 'bootstrap-icons/x.svg' %}"></button>
    {% else %}
      <button type="button" 
              class="btn btn-outline-secondary show-autocomplete"
              title="{% translate 'edit categories'|capfirst %}"
              data-action
              data-method="GET"
              data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'category' %}"
              data-params	= "editable"
              data-map	= '{"category":"#category"}'
              ><img src="{% static 'bootstrap-icons/pencil.svg' %}"></button>
    {% endif %}
  {% endif %}
</div>