{% load static %}{% load i18n %}<div class="col-3 title-col">{% translate 'chains'|title %}<span class="valuecounter"></span>:</div>
<div class="col-8 list">
  {% if location.chains.all.count > 0 %}
    {% for chain in location.chains.all %}
      {% include 'field/chain.html' %}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% endif %}
  {% if json.editable and perms.location.change_location %}
    <form class="cmnd-autosuggest"
      action="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'chains' %}"
      data-action
      data-method="POST"
      data-body="form"
      data-map='{"chains":"#chains"}'
    >
      <div class="input-group">
        <input
          name="name"
          type="text"
          id="chain-input"
          placeholder="{% translate 'add chain'|capfirst %} - {% translate 'start typing to see suggestions'|capfirst %}"
          class="form-control"
          data-autosuggest
          data-url="{% url 'cmnsd:dispatch' 'chains'%}"
          data-param="{{ search_query_character}}"
          data-extra-params='{"format":"json", "exclude": "locations__slug:{{ location.slug }}"}'
          data-container="chain"
          data-field-input="name"
          data-field-hidden="slug"
        >
        <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg></button>
      </div>
    </form>
  {% endif %}
</div>
<div class="col-1 button-col">
  {% include 'element/reusable_edit_button.html' with field='chains' %}
</div>