{% load i18n %}
<span class="chain">
  <a href="{% url 'location:search' %}?chain={{ chain.slug }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate location.getPCategory|capfirst %} {% translate 'by' %} {{ chain.name }}{% if chain.parent and user.is_authenticated %} ({{ chain.parent.name }}){% endif %}">
    {{ chain.name|title }}
    {% include 'element/reusable_delete_button.html' with field='chains' map_id='slug' map_value=chain.slug %}
  </a>
  {% if chain.parent and user.is_authenticated %} - <a href="{% url 'location:search' %}?chain={{ chain.parent.slug }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% blocktranslate with chain=chain.name|title parent=chain.parent.name|title %}{{ chain }} is part of {{ parent }} {% endblocktranslate %}">{{ chain.parent.name|title }}</a>{% endif %}
</span>
