<div class="row">
  <div class="col-3 title-col">{% translate 'links'|title %}<span class="valuecounter"></span>:</div>
  <div class="col-8 list">
    {% if links.all.count > 0 %}
      {% for link in location.links.all|filter_by_visibility:request.user %}
        {% include 'field/link.html' %}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    {% endif %}
    {% if ajax.editable and perms.location.change_location %}
      <form class="cmnd-autosuggest"
        action="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'links' %}?editable"
        data-action
        data-method="POST"
        data-body="form"
        data-map='{"links":"#links"}'
      >
        <div class="input-group">
          <input
            name="url"
            type="text"
            id="link-input"
            placeholder="{% translate 'add link'|capfirst %} - {% translate 'start typing to see suggestions'|capfirst %}"
            class="form-control"
            data-autosuggest
            data-url="{% url 'cmnsd:dispatch' 'links'%}"
            data-param="{{ search_query_character}}"
            data-extra-params='{"format":"json", "exclude": "location__slug:{{ location.slug }}"}'
            data-container="link"
            data-field-input="url"
            data-field-hidden="id"
          >
          <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg></button>
        </div>
      </form>
    {% endif %}
  </div>
  <div class="col-1 button-col">
    {% include 'element/reusable_edit_button.html' with field='links' %}
  </div>
</div>