{% load static %}
{% if user.is_authenticated and location%}
  {% if not location in user.profile.favorite.all %}
    <a  
        data-action 
        data-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'least_liked_of' %}" 
        data-method="POST" 
        data-body='{"least_liked_of__id": "{{ user.profile.id }}" }'
        data-map='{"least_liked_of":"#least_liked_of"}' 
        data-refresh-url="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'favorite_of' %}" 
        data-refresh-map='{"favorite_of":"#favorite_of"}'
        data-refresh-mode="update"
        class="toggable" 
        id="like" 
        data-bs-toggle="tooltip" 
        data-bs-placement="top"
        title="{% translate 'do not like'|capfirst %} {% translate 'this location' %}">
          <svg class="bi" width="16" height="16" fill="{% if media|length > 0 %}white{% else %}#666{% endif %}"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#heartbreak{% if location in user.profile.dislike.all %}-fill{% endif %}" /></svg>
        </a>
  {% endif %}
{% endif %}