{% load static %}{% load i18n %}
<div class="col-3 title-col">{% translate 'size'|title %}: <sup data-bs-toggle="tooltip" data-bs-position="top" title="{% translate 'size is available for camping or glamping'|capfirst %}.">(i)</sup></div>
<div class="col-8 list">
  {% if json.editable %}
  <form class="cmnd-autosuggest"
    action="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'size' %}"
    data-action
    data-method="POST"
    data-body="form"
    data-map='{"size":"#size"}'
  >
    <select name="size" class="form-select" id="size-select">
      {% for size in location.availablesizes.all %}
        <option value="{{ size.slug }}" {% if location.size and location.size.slug == size.slug %}selected{% endif %}>{{ size.slug|upper }} - {% translate size.name|capfirst %}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">{% translate 'set size'|title %}</button>
  </form>
  {% else %}
    <a href="{% url 'location:search' %}?size={{ location.size.slug }}">{% if location.size %}{{ location.size.slug|upper }} - {% translate location.size.name|capfirst %}</a>{% endif %}
  {% endif %}
</div>
<div class="col-1 button-col">
  {% if user.is_authenticated %}
    {% if json.editable %}
      <button type="button" 
              class="btn btn-outline-secondary show-autocomplete"
              title="{% translate 'stop editing size'|capfirst %}"
              data-action
              data-method="GET"
              data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'size' %}"
              data-map	= '{"size":"#size"}'
              ><img src="{% static 'bootstrap-icons/x.svg' %}"></button>
    {% else %}
      <button type="button" 
              class="btn btn-outline-secondary show-autocomplete"
              title="{% translate 'edit size'|capfirst %}"
              data-action
              data-method="GET"
              data-url	="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'size' %}"
              data-params	= "editable"
              data-map	= '{"size":"#size"}'
              ><img src="{% static 'bootstrap-icons/pencil.svg' %}"></button>
    {% endif %}
  {% endif %}
</div>
