{% load static %}{% load i18n %}
<span class="tag"><a class="tag {{ tag.get_list_as_display }}" href="{% url 'location:tag' tag.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see details of tag'|capfirst %}: {{ tag|title }} ">
  {% if tag.list_as == 'a' %}<img src="{% static 'bootstrap-icons/hand-thumbs-up-fill.svg' %}"> {% elif tag.list_as == 'd' %}<img src="{% static 'bootstrap-icons/hand-thumbs-down-fill.svg' %}"> {% endif %}
  {% if tag.parent %}{{ tag.parent.name }}: {% endif %}
  {{ tag.name }}
</a>
{% if json.editable %}<a href="{% url 'cmnsd:dispatch_field_of_object_by_id_and_slug' 'location' location.id location.slug 'tags' %}"
              data-action
              data-method="PATCH"
              data-body='{"slug": "{{ tag.slug }}", "editable": true}'
              data-map='{"tags":"#tags"}'>[X]</a>{% endif %}
</span>