{% load static %}
<span class="tag"><a class="tag {{ tag.get_list_as_display }}" href="{% url 'location:tag' tag.slug %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see details of tag'|capfirst %}: {{ tag|title }} ">
  {% if tag.list_as == 'a' %}<img src="{% static 'bootstrap-icons/hand-thumbs-up-fill.svg' %}"> {% elif tag.list_as == 'd' %}<img src="{% static 'bootstrap-icons/hand-thumbs-down-fill.svg' %}"> {% endif %}
  {% if tag.parent %}{{ tag.parent.name }}: {% endif %}
  {{ tag.name }}
</a>
{% include 'element/reusable_delete_button.html' with field='tags' map_id='slug' map_value=tag.slug %}
</span>