<!doctype html>
{% load static %}
<html lang="{{ language_code }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ meta_description }}">

    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">


    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Site Styles -->
    <link rel="stylesheet" href="{% static 'css/definitions.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <link rel="stylesheet" href="{% static 'css/cmnsd/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/cmnsd.branding.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/cmsd.css' %}">
    <link rel="stylesheet" href="{% static 'css/cmnsd/autosuggest.css' %}">
    

    <script src="{% static 'bootstrap/polyfill.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    
    {% block scriptheader %}{% endblock %}
    
    <title>{% if scope %}{{ scope|title }} - {% endif %}{{ app_title }}</title>
  </head>
  <body>
    <div id="cmnsd-overlays"></div>
    <!-- Messages -->
    <div id="messages-placeholder" class="alert-container"></div>
{% include 'header.html' %}
{% include 'navigation.html' %}
{% include 'messages.html' %}

<!-- Content -->
<div id="content">{% block content %}{% endblock %}</div>
<!-- end of Content -->

{% include 'footer.html' %}

<!-- Javascripts -->
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static '/js/jquery-ui/jquery-ui.js' %}"></script> 
<script type="module">
import cmnsd from "{% static 'js/cmnsd/index.js' %}";
import { initAutosuggest } from "{% static 'js/cmnsd/autosuggest.js' %}";

cmnsd.init({
  baseURL: '',
  debug: {{ debug|lower|default:'false' }}, // enable console.debug tracing when django DEBUG=True
  messages: { container: '#messages', dismissible: true, clearBefore: false, max: 5 }, // message container, see messages.html
  actions: { autoBind: true } // bind delegated [data-action] on document

  {% block cmnsdInit %}{% endblock %}
});

initAutosuggest();
</script>
{% block scriptfooter %}{% endblock %}

  </body>
</html>