<!doctype html>
{% load static %}
<html lang="{{ language_code }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ meta_description }}">

    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico"/>
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">


    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Site Styles -->
    <link rel="stylesheet" href="{% static 'css/definitions.css' %}" /> 
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'bootstrap/polyfill.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    
    {% block scriptheader %}{% endblock %}
    
    <title>{% if scope %}{{ scope|title }} - {% endif %}{{ app_title }}</title>
  </head>
  <body>
    <!-- Messages -->
    <div id="messages-placeholder" class="alert-container"></div>
{% include 'header.html' %}
{% include 'navigation.html' %}
{% include 'messages.html' %}

<!-- Content -->
<div id="content">{% block content %}{% endblock %}</div>
<!-- end of Content -->

{% include 'footer.html' %}

<!-- Javascripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script src="{% static 'js//luxon.min.js' %}"></script>
<script>
  var DateTime = luxon.DateTime;
</script>

{% block scriptfooter %}{% endblock %}
  </body>
</html>