{% if location.size %}{% include 'partial/size-icon.html' with location=location %}{% endif %}
{% if location.chains.all.count > 0 %}{% for chain in location.chains.all %}{% include 'partial/chain.html' with chain=chain %}{% endfor %}{% endif %}
{% if location.category %}{% include 'partial/category.html' with category=location.category %}{% endif %}
{% if location.location %}{% translate 'in' %}
  {% if location.department %}{% include 'snippets/location_department.html' %},{% endif %}
  {% if location.region %}{% include 'snippets/location_region.html' %},{% endif %}
  {% if location.country %}{% include 'snippets/location_country.html' %}{% endif %}.
{% endif %}
{% if user.is_authenticated and not ajax.editable %}
  {% translate 'viewable by'|capfirst %} {% translate location.get_visibility_display %}.
{% endif %}