{% load i18n %}<div class="form-check form-switch">
  <input class="form-check-input toggable" href="{% url 'location:ToggleAttribute' 'profile' 'maps_permission' %}" type="checkbox" role="switch" name="maps_permission" id="maps_permission" {% if user.profile.maps_permission %}checked{% endif %}>
  <label class="form-check-label" for="maps_permission">{% translate 'on location page, always allow google maps'|capfirst %}.</label>
  {% if request.session.maps_permission == True %}<br>
  {% translate 'permission currently granted for this session'|capfirst %}. <a href="{% url 'location:MapsPermissionSession' %}">{% translate 'revoke'|capfirst %}</a>.
  {% endif %}
</div>