{% load i18n %}
<form method="get" action="{% url 'location:LocationAddList' location.slug %}">
  <div class="row">
    <div class="col-3 title-col">{% if lists.count == 0 %}{% translate 'lists'|capfirst %}:{% else %}&nbsp;{% endif %}</div>
    {% if  available_lists.count == 0 %}
      <div class="col-9"><a href="{% url 'location:AddListWithLocation' location.slug %}">{% translate 'create new list with'|capfirst %} {{ location.name|title }}</a></div>
    {% else %}  
      <div class="col-6">
        <select name="list" class="form-control">
          <option selected>--------</option>
          <option value="create_new_list">{% translate 'create new list'|capfirst %}</option>
          {% if not has_bucketlist %}
            <option value="bucketlist_of_{{ user.username }}">{% translate 'bucketlist'|capfirst %}</option>
          {% endif %}
          {% for list in available_lists.all %}
            {% if list not in lists %}
              <option value="{{ list.slug }}">{{ list.name|truncatechars:64|title }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <input type="submit" role="button" class="btn btn-outline-primary" value="{% translate 'add to list'|capfirst %}">
      </div>
    {% endif %}
  </div>
</form>