{% if 'tag' in active_filters or 'category' in active_filters or 'favorites' in active_filters or 'visited' in active_filters %}?{% endif %}
{% if 'tag' in active_filters %}
tag={% for word in active_filters.tag %}{% if word != removedword %}{{ word }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}
{% endif %}
{% if 'category' in active_filters %}
{% if 'tag' in active_filters %}&{% endif %}
category={% for word in active_filters.category %}{% if word != removedword %}{{ word }}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}
{% endif %}
{% if 'favorites' in active_filters %}
{% if 'tag' in active_filters or 'category' in active_filters %}&{% endif %}
{% if 'favorites' != removedword %}favorites{% endif %}
{% endif %}
{% if 'visited' in active_filters %}
{% if 'tag' in active_filters or 'category' in active_filters or 'favorites' in active_filters %}&{% endif %}
{% if 'visited' != removedword %}visited{% endif %}
{% endif %}
{% if 'order' != removedword and active_filters.order != default_order %}&order={{ active_filters.order }}{% endif %}
