{% load i18n %}
<div class="location mini {{ location.getCategory }}" data-category="{{ location.getCategory }}" data-country="{{ location.country.slug }}" data-region="{{ location.region.slug }}" data-department="{{ location.department.slug }}">
  <h5>{% include 'snippets/location_link.html' %}</h5>
  <span class="locator" data-type="{{ location.getCategory }}" data-country="{{ location.country.slug }}" data-region="{{ location.region.slug }}" data-department="{{ location.department.slug }}">
    {% if location.chain %}
      {% include 'snippets/chain.html' with chain=location.chain %}
    {% endif %}
    <a href="{% if location.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}?category={{ location.category.slug }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate location.getPCategory|capfirst %} {% translate 'marked' %} {{ location.category.name|title }}">{{ location.category.name|title }}</a> 
    {% if location.location %}
      in
      <a href="{% if location.isActivity %}{% url 'location:ListLActivitiesByDepartment' location.country.slug location.region.slug location.department.slug %}{% else %}{% url 'location:ListLocationsByDepartment' location.country.slug location.region.slug location.department.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location }}">{{ location.location.name|title }}</a>,
      <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByRegion' location.country.slug location.region.slug %}{% else %}{% url 'location:ListLocationsByRegion' location.country.slug location.region.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location.parent }}">{{ location.location.parent.name|title }}</a>,
      <a href="{% if location.isActivity %}{% url 'location:ListActivitiesByCountry' location.country.slug %}{% else %}{% url 'location:ListLocationsByCountry' location.country.slug %}{% endif %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'see all in'|capfirst %} {{ location.location.parent.parent.name }}">{{ location.location.parent.parent.name|title }}</a>.
    {% endif %}
    {% comment %} {% if user.is_authenticated %}
      {% translate 'viewable by'|capfirst %} {{ location.get_visibility_display }}.
    {% endif %} {% endcomment %}
    {% if distance %}
      {% if distance > 1.0 %}
        {% translate 'distance about'|capfirst %} {{ distance|floatformat }} km.
      {% else %}
        {% translate 'very close by'|capfirst %}.
      {% endif %}
    {% endif %}
  </span>
</div>