{% load i18n %}{% load static %}
<div class="filter card">
  <!-- Show result counter -->
  <div class="results">
    <strong>{% translate 'showing'|capfirst %} {{ location_list.all.count }} {% translate scope %}, {% translate 'sorted on' %} {{ active_filters.order }}:</strong><br>
    <!-- Quick filters and actions -->
    |
    {% if active_filters|length > 3 %}<a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}" title="{% translate 'reset all active filters'|capfirst %}">{% translate 'show all'|capfirst %}</a> |{% endif %}
    {% if user.is_authenticated or allow_unauthenticated_see_overview_map %}<a href="/map/{% update_query_params request active_filters=active_filters %}">{% translate 'on map'|capfirst %}</a> |{% endif %}
    <!-- Special status -->
    {% if available_filters.has_favorites and 'favorites' not in active_filters %}<a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add='true' to='favorites' active_filters=active_filters %}">{% translate 'only favorites'|capfirst %}</a> | {% endif %}
    <!-- Ordering -->
    {% translate 'order by'|capfirst %}: {% for option in available_filters.order %}{% if option != active_filters.order %}<a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request replace=option to='order' active_filters=active_filters%}">{{ option|title }}</a>{% endif %}{% endfor %} |
  </div>
  <br>
  <!-- Active Filters -->
  
  <div class="active filters">
    {% if active_filters|length > 1 %}
      {% translate 'filtered on'|capfirst %}: 
      <ul class="filter list">
        <!-- Location filter -->
        {% if 'country' in active_filters or 'region' in active_filters or department in active_filters %}
          <li> 
            {% if 'country' in active_filters %}
              <a href="{% url 'location:locations' %}{% update_query_params request av%}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.country|default:active_filters.country|title }} {% translate 'from filter' %}">{% translate location_list.first.country.name|default:active_filters.country|title %}</a>
            {% endif %}
            {% if 'region' in active_filters %}
              &gt; <a href="{% url 'location:ListLocationsByCountry' active_filters.country %}{% update_query_params request %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.region|default:active_filters.region|title }} {% translate 'from filter' %}">{% translate location_list.first.region.name|default:active_filters.region|title %}</a>
            {% endif %}
            {% if 'department' in active_filters %}
              &gt; <a href="{% url 'location:ListLocationsByRegion' active_filters.country active_filters.region %}{% update_query_params request %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.department|default:active_filters.department|title }} {% translate 'from filter' %}">{% translate location_list.first.department.name|default:active_filters.department|title %}</a>
            {% endif %}
          </li>
        {% endif %}
        <!-- Query Parameter items -->
        {% for param, values in active_filters.items %}
          {% if param in 'category, tag, chain, size' %}
            <li>{% translate param|capfirst %}:
              {% for value in values %}
                <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request remove=value to=param active_filters=active_filters %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ param }}: {% translate value %} {% translate 'from filter' %}">{% translate value|title %} <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        {% endfor %}
        <!-- Favorites -->
        {% if 'favorites' in active_filters %}
          <li><a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request remove='true' to='favorites' active_filters=active_filters %}">{% translate 'favorites'|capfirst %}: {% translate 'show only favorites' %} <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a></li>
        {% endif %}
        {% if 'visited' in active_filters %}
          <li><a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request remove='true' to='visitied' active_filters=active_filters %}">{% translate 'visited'|capfirst %}: {% if active_filters.visited == 'True' %}{% translate 'in' %} {{ active_filters.visited }}{% else %}{% translate 'all visited locations'|capfirst %}{% endif %} <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a></li>
        {% endif %}
        <!-- Visibility -->
        {% if 'visibility' in active_filters %}
          <li><a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request remove=active_filters.visibility. to='visibility' active_filters=active_filters %}">{% translate active_filters.visibility.1|capfirst %}</a></li>
        {% endif %}
        <!-- Distance -->
        {% if active_filters.dist_min != None or active_filters.dist_max != None %}
          <li><strong>{% translate 'distance between'|capfirst %}</strong>:
            {{ active_filters.dist_min|default:'0' }} km - {{ active_filters.dist_max|default:'&#8734;' }} km <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request %}"> <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

  <!-- Available Filters -->
  {% if available_filters %}
    <div class="available filters">
      {% translate 'filter by'|capfirst %}:
      <ul class="filter list">
      <!-- Offer filter by Location -->
        {% if available_filters.countries.all.count > 1 or available_filters.regions.all.count > 1 or available_filters.departments.all.count > 1%}
          <li><strong>{% translate 'list locations in'|capfirst %}:</strong> 
        {% endif %}
        {% if available_filters.countries.all.count > 1 %}
          {% for country in available_filters.countries.all  %}
            {% if country.location__parent__parent__name %}
              <a href="{% if scope == 'locations' %}{% url 'location:ListLocationsByCountry' country.location__parent__parent__slug %}{% elif scope == 'activities' %}{% url 'location:ListActivitiesByCountry' country.location__parent__parent__slug %}{% else %}{% url 'location:SearchByCountry' country.location__parent__parent__slug %}{% endif %}{% update_query_params request %}">{% translate country.location__parent__parent__name|title %}</a>{% if not forloop.last %}, {% endif %} 
            {% endif %}
          {% endfor %}
        {% elif available_filters.regions.all.count > 1 %}
          {% for region in available_filters.regions.all %}
            {% if region.location__parent__name %}
              <a href="{% if scope == 'locations' %}{% url 'location:ListLocationsByRegion' available_filters.countries.first.location__parent__parent__slug region.location__parent__slug %}{% elif scope == 'activities' %}{% url 'location:ListActivitiesByRegion' available_filters.countries.first.location__parent__parent__slug region.location__parent__slug %}{% else %}{% url 'location:SearchByRegion' available_filters.countries.first.location__parent__parent__slug region.location__parent__slug %}{% endif %}{% update_query_params request %}">{% translate region.location__parent__name|title %}</a>{% if not forloop.last %}, {% endif %} 
            {% endif %}
          {% endfor %}
        {% elif available_filters.departments.all.count > 1%}
          {% for department in available_filters.departments.all %}
            {% if department.location__name %}
              <a href="{% if scope == 'locations' %}{% url 'location:ListLocationsByDepartment' available_filters.countries.first.location__parent__parent__slug available_filters.regions.first.location__parent__slug department.location__slug%}{% elif scope == 'activities' %}{% url 'location:ListLActivitiesByDepartment' available_filters.countries.first.location__parent__parent__slug available_filters.regions.first.location__parent__slug department.location__slug %}{% else %}{% url 'location:SearchByDepartment' available_filters.countries.first.location__parent__parent__slug available_filters.regions.first.location__parent__slug department.location__slug %}{% endif %}{% update_query_params request %}">{% translate department.location__name|title %}</a>{% if not forloop.last %}, {% endif %} 
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if available_filters.countries.all.count > 1 or available_filters.regions.all.count > 1 or available_filters.departments.all.count > 1%}
          </li>
        {% endif %}  
      <!-- Category -->
        {% if available_filters.categories.all.count > 1 and 'category' not in active_filters %}
          <li><strong>{% translate 'category'|capfirst %}</strong>:
          {% for category in available_filters.categories.all %}
              <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add=category.category__slug to='category' active_filters=active_filters %}">{% translate category.category__name|title %}</a>{% if not forloop.last %}, {% else %}{% if available_filters.tag|length > 1 %},{% endif %}{% endif %}
          {% endfor %}
          </li>
        {% endif %}
        {% if available_filters.chains.all.count > 1 %}
          <li><strong>{% translate 'chain'|capfirst %}</strong>:
            {% for chain in available_filters.chains.all %}
              <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add=chain.chain__slug to='chain' active_filters=active_filters %}">{{ chain.chain__name|title }}</a>{% if not forloop.last %}, {% else %}{% if available_filters.tag|length > 1 %},{% endif %}{% endif %}
            {% endfor %}
        {% endif %}
      <!-- Size -->
       {% if available_filters.size.all.count > 1 and 'size' not in active_filters %}
       <li><strong>{% translate 'size'|capfirst %}</strong>:
          {% for size in available_filters.size.all %}
            <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add=size.size__slug to='size' active_filters=active_filters %}">{{ size.size__name|title }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}</li>
       {% endif %}
      <!-- Tags -->
        {% if available_filters.tags.all.count > 1 and 'tag' not in active_filters %}
          <li><strong>{% translate 'tag'|capfirst %}:</strong>
          {% for tag in available_filters.tags.all %}
            <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add=tag.tags__slug to='tag' active_filters=active_filters %}">{% translate tag.tags__name|title %}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}</li>
        {% endif %}
      <!-- Visibility -->
        {% if available_filters.visibility|length > 1 %}
          <li><strong>{% translate 'visibility'|capfirst %}:</strong>
            {% for key, value in available_filters.visibility  %}
            <a href="{% if location_list.first.isActivity %}{% url 'location:activities' %}{% else %}{% url 'location:locations' %}{% endif %}{% update_query_params request add=key to='visibility' active_filters=active_filters %}">{% translate value|capfirst %}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}</li>
        {% endif %}
    
      <!-- Distance -->
       {% if range and range.steps|length > 3 and request.user.profile.filter_by_distance %}
          <li>
            <form method="get">
              <div class="input-group mb-3">
                <span class="input-group-text">{% translate 'distance between'|capfirst %}<sup title="{% translate 'in a straight line from central location'|capfirst %}">(i)</sup>:</span>
                <select class="form-select" name="min">
                  {% for step in range.steps %}
                    {% if not forloop.last %}
                      <option value="{{ step }}" {% if step == range.min %}selected{% endif %}>{{ step }} km</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <select class="form-select" name="max">
                  {% for step in range.steps %}
                    {% if not forloop.first %}
                      <option value="{{ step }}" {% if step == range.max %}selected{% endif %}>{{ step }} km</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <input type="submit" value="{% translate 'filter'|capfirst %}" class="btn btn-primary">
              </div>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>
