{% load i18n %}{% load static %}
<div class="filter card">
  <div class="results">
    <strong>{% translate 'showing'|capfirst %} {{ location_list.all.count }} {% translate scope %}:</strong>
  </div>
  <!-- Active Filters -->
  {% if active_filters|length > 1 or active_filters.query|length > 0 %}
    <div class="active filters">
      {% translate 'filtered on'|capfirst %}:
      <ul class="filter list">
        <!-- Location filter -->
        {% if 'country' in active_filters or 'region' in active_filters or department in active_filters %}
          <li> 
            {% if 'country' in active_filters %}
              <a href="{% url 'location:locations' %}{% include 'snippets/filter_url_queryparams.html' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.country }} {% translate 'from filter' %}">{{ location_list.first.country }}</a>
            {% endif %}
            {% if 'region' in active_filters %}
              &gt; <a href="{% url 'location:ListLocationsByCountry' active_filters.country %}{% include 'snippets/filter_url_queryparams.html' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.region }} {% translate 'from filter' %}">{{ location_list.first.region }}</a>
            {% endif %}
            {% if 'department' in active_filters %}
              &gt; <a href="{% url 'location:ListLocationsByRegion' active_filters.country active_filters.region %}{% include 'snippets/filter_url_queryparams.html' %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ location_list.first.department }} {% translate 'from filter' %}">{{ location_list.first.department }}</a>
            {% endif %}
          </li>
        {% endif %}
        <!-- Query Parameter items -->
        {% for param, values in active_filters.query.items %}
          <li>{% translate param|capfirst %}:
            {% for value in values %}
              <a href="{% include 'snippets/filter_url_queryparams.html' with removedword=value %}" data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'remove'|capfirst %} {{ param }}: {{ value }} {% translate 'from filter' %}">{{ value|title }} <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
        <!-- Favorites -->
        {% if 'favorites' in active_filters %}
          <li><a href="?filters=false{% include 'snippets/filter_url_queryparams.html' with removedword='favorites' %}">{% translate 'favorites'|capfirst %}: {% translate 'show only favorites' %} <svg class="bi" width="16" height="16" fill="currentColor"><use xlink:href="{% static 'bootstrap-icons/bootstrap-icons.svg' %}#x"/></svg></a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  <!-- Available Filters -->
  <div class="available filters">
    {% translate 'filter by'|capfirst %}:
    <ul class="filter list">
      <!-- Largest Location -->

      <!-- Category -->
      {% if available_filters.category|length > 1 %}
        <li>{% translate 'category'|capfirst %}:
        {% for category in available_filters.category %}
            <a href="?category={{ category.0 }}{% if active_filters.query.tag|length > 0 %}&tag={{ active_filters.query.tag|join:',' }}{% endif %}">{{ category.1|title }}</a>{% if not forloop.last %}, {% else %}{% if available_filters.tag|length > 1 %},{% endif %}{% endif %}
        {% endfor %}
        </li>
      {% endif %}
      <!-- Tags -->
      {% if available_filters.tag|length > 1 %}
        <li>{% translate 'tag'|capfirst %}:
        {% for tag in available_filters.tag %}
          <a href="?tag={{ tag.0 }}{% if active_filters.query.category|length > 0 %}&category={{ active_filters.query.category|join:',' }}{% endif %}">{{ tag.1|title }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      {% endif %}
    
    <!-- Special status -->
      {% if favorites.all.count > 0 and 'favorites' not in active_filters %}
        <li><a href="?favorites{% if active_filters.query.tags|length > 0 %}&tag={{ active_filters.query.tags|join:',' }}{% endif %}{% if active_filters.query.category|length > 0 %}&category={{ active_filters.query.category|join:',' }}{% endif %}">{% translate 'show only favorites'|capfirst %}</a></li>
      {% endif %}
    </ul>
  </div>
</div>